{% extends 'base_usersarea.html' %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style2.css">
    <!--[if IE]><style>
      .logo {
      position: absolute;
      left: 50%;
      margin-top: 100px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 100;
    }
    </style><![endif]-->
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top: 120px;">
                <h2 class="jumbo-text text-center" style="width: 100%;">Devices&hellip;</h2>
                <p class="page-text">We have tested a range of devices for use with our liquids and whilst a vast selection of devices have proven suitable we have selected to provide the following products for vapers with different needs, levels of experience, and budgets.
</p>
            </div>
        </div>

        <div class="row items-wrapper">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                {% for prod in products  %}
                <div class="product-item well">
                   <div class="product-description" style="width: 100%;">
                        <h3 class="name" style="text-align: center; width: 100%;">{{ prod.product_title }}{% if not prod.stock_qty > 0 %} <span class="red"> (Out Of Stock){% endif %}</span></h3>
                    </div>
                    <div class="product-image" style="width: 100%;">
{#                        <img class="img-responsive" src="{{ STATIC_URL }}/frontend/device.jpg" alt="">#}
                        <img class="img-responsive" src="data:image/png;base64,{{ prod.product_image }}" style="width: 100%;">
                    </div>
                    <div class="product-description">
{#                        <h3 class="name">{{ prod.product_title }}{% if not prod.stock_qty > 0 %} - Out Of Stock{% endif %}</h3>#}
                        <p class="page-text">
                            {{ prod.product_tmpl.description }}
                        </p>
                        <div class="price-wrapper">
                            <span class="price">Price: <strong>£{{ prod.price_extra }}</strong></span>
                            <input id="smoking_device{{ prod.id }}" type="hidden" value="{{ prod.id }}">
                            <a class="btn btn-success" style="cursor: pointer" role="button" rel-select="smoking_device{{ prod.id }}" onclick="add2cart($(this),0)" {% if not prod.stock_qty > 0 %} disabled {% endif %}>Buy One</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div role="alert" class="site-alerts alert alert-success fade in" id="message" style="display: none">
                    <button type="button" class="close" onclick="$('#error_message').hide()">&times;</button><strong>The product was successfully added.</strong>
                </div>
                <div class="cart-list">
                     <h2 class="text-center">Your Basket.</h2>
                      <ol>
                        {% if selected_flavours|length > 0 or additional|length > 0%}
                        {% for key, item_name in selected_flavours.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}

                        {% for key, item_name in selected_flavours2.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}

                        {% for key, item_name in additional.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}
                        {% else %}
                            <h4 style="color: #002060;text-align: center"> Your Basket Is Empty</h4>
                        {% endif %}
                    </ol>
                    <p class="total-cost"><strong>Total Cost:</strong> <span id="cart_total">{% if cart_total %} £{{ cart_total }} {% else %} £0.00 {% endif %}</span></p>
                    <p class="total-delivery"><strong>Delivery Cost:</strong> <span id="cart_delivery">£{% if delivery_cost %} {{ delivery_cost }} {% else %} 0.00 {% endif %}</span></p>
                    <p id="total_saving" class="total-cost"><strong>Total Saving:</strong> <span {% if valid_code %} style="color:#002060; font-size: x-large"{% endif %}>£{{ total_saving }}</span></p>
                    <div class="text-center">
                        <a href="/checkout"  class="btn btn-success btn-lg" id="procced_button" {% if count == 0 %} disabled="disabled" {% endif %}>Proceed&hellip;</a>
                    </div>
                </div>

                <div class="btn-wrapper floated" style="margin-bottom: 0px;">
{#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
                    <img src="{{ STATIC_URL }}/frontend/free_uk_delivery.jpg" class="img-responsive">
                </div>

                <div class="btn-wrapper floated">
{#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
                    <img src="{{ STATIC_URL }}/frontend/help_free_bottle_short.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
{% endblock %}