<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper">
                        <img src="{{ STATIC_URL }}frontend/footer-logo.jpg" alt="" class="img-responsive"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="footer_addr">HV<br>
                        Armstrong House<br>
                        First Avenue<br>
                        Robin Hood Airport<br>
                        Doncaster<br>
                        South Yorkshire<br>
                        DN9 3GA</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                <div class="ftr_socialbox">
                    <div class="clear"></div>
                    <div class="ftr_twitter">
                        <a href="https://twitter.com/heroesvape">
                            <img src="{{ STATIC_URL }}useradmins/twitter-foo.jpg" />
                        </a>
                    </div>
                    <div class="ftr_facebook">
                        <a href="https://www.facebook.com/Heroes-vape-208574059328157">
                            <img src="{{ STATIC_URL }}useradmins/facebook-foo.jpg" />
                        </a></div>
                    <div class="ftr_mail">
                        <a href="/usersadmin/contact_us">
                            <img src="{{ STATIC_URL }}useradmins/mail-foo.jpg" />
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="ftr_menu">
                    <ul>
                       <li><a href="/usersadmin/">Home</a></li>
                       <li><a href="/usersadmin/eliquid/">E Liquid</a></li>
                       <li><a href="/usersadmin/devices/">Devices</a></li>
                        <li><a href="/usersadmin/diy_liquid/">Ingredients</a></li>
{#                        <li><a href="/usersadmin/free_liquid/">Free Liquid</a></li>#}
                        <li><a href="/usersadmin/your_details">Your Details</a></li>
                        <li><a class="hidden-xs" href="/usersadmin/contact_us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="ftr_copyrght">© 2014 HEROESvape.uk. All rights reserved</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
