{% extends 'base_usersarea.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style2.css">
{% endblock %}

{% block main_content %}

    <div class="container">


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 content-wrapper well well-lg">
            <h2 class="jumbo-text section-title text-center">Your Details</h2>

            <form method="post" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
                <input name="section" value="main" hidden="hidden">

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    {% if message %}
                            <div id="alert_message" class="alert {% if error_message%} alert-danger {% else %} alert-success {% endif %}alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="your-email" class="text-uppercase top-label">Email ID</label>
                        <input name="email" type="text" class="form-control input-lg" placeholder="email"
                               value="{{ email }}">
                    </div>
                    <div class="form-group">
                        <label for="your-password" class="text-uppercase top-label">Password</label>
                        <input name="password" type="password" class="form-control input-lg" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="your-password" class="text-uppercase top-label">Retype Password</label>
                        <input name="re-password" type="password" class="form-control input-lg" placeholder="">
                    </div>
                    <h4 style="color: red;" hidden="hidden" id="password_message_error">Password do not match, please
                        try
                        again.</h4>

                    <input type="submit" value="Edit" class="btn btn-success">
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 content-wrapper2 well well-lg">
            <h2 class="jumbo-text section-title text-center">Your Rewards.</h2>

            <p class="page-text text-center" style="font-weight: bold">
                When you introduce someone to us we link them to you forever so every time they order we can reward you
                with free liquid.
            </p>
            <ul class="page-text conditions-needed">
                <li>So far you have introduced <span class="red">{{ introduced }}</span> peoples to us.</li>
                <li>Last time your referrals earned you <span class="red">{{ last_free_bottles }}</span> free bottles of
                    liquid (these were added to you last order).
                </li>
                <li>So far this time your referrals have earned you <span class="red">{{ free_bottles }}</span> free
                    bottles (these will be added to your next order automatically).
                </li>
            </ul>
            <div class="blue-strip text-center">
                What strength and flavour would you like your FREE liquid to come in
                <br>
                <select id="cloud" name="cloud" style="font-size: small; width: 200px;font-family: Helvetica,Arial,sans-serif;" parent_select="strengths"
                        onchange="get_strengths_from_cloud_group($('#flavour option:selected').attr('value'),$('#cloud option:selected').attr('value'))">
                    <option selected>Select</option>
                    {% for key,value in cloud_groups.iteritems %}
                        <option value="{{ key }}" {% if cloud_selected == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>

                <select id="flavour" name="flavour" parent_select="strengths"
                        onchange="get_strengths_from_cloud_group($('#flavour option:selected').attr('value'),$('#cloud option:selected').attr('value'))"
                        style="font-size: small; width: 150px;font-family: Helvetica,Arial,sans-serif;">
                    <option>Select</option>
                    <option value="Menthol" {% if product == 'Menthol' %}selected{% endif %}>The Sergeant Major</option>
                    <option value="Apple" {% if product == 'Apple' %}selected{% endif %}>The  Bombardier</option>
                    <option value="Cola" {% if product == 'Cola' %}selected{% endif %}>Corporal Cola</option>
                    <option value="Coffee" {% if product == 'Coffee' %}selected{% endif %}>The Guardsman</option>
                    <option value="Vanilla" {% if product == 'Vanilla' %}selected{% endif %}>Captain Classic</option>
                    <option value="Aniseed" {% if product == 'Aniseed' %}selected{% endif %}>Squadron Leader</option>
                    <option value="Blackcurrant" {% if product == 'Blackcurrant' %}selected{% endif %}>The Brigadier
                    </option>
                    <option value="Orange" {% if product == 'Orange' %}selected{% endif %}>Squaddie's Spirit</option>
                </select>
                <select id="strengths" name="flavour-type" style="font-size: small; width: 150px;font-family: Helvetica,Arial,sans-serif;"
                        onchange="update_free_strength($('#strengths option:selected').attr('value'))">
                    <option>select</option>
                    {% if strength_selected %}
                        {% for f in flavours %}
                            <option value="{{ f.id }}"
                                    {% if f.id == strength_selected %}selected{% endif %}>{{ f.product_strength.display_name }}
                                - ({{ f.product_strength.marketing_text }})
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <p class="page-text bolder text-center">
                <strong>Want more FREE Liquid?&hellip; just introduce more people.</strong>
            </p>
        </div>

    </div>

    {% if message %}
        <script type="text/javascript">
          $(document).ready(function(){
              $('#alert_message').fadeOut(5000);
          });
        </script>
    {% endif %}
{% endblock %}