{% extends 'base_usersarea.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style2.css">
     <!--[if IE]><style>
      .logo {
      position: absolute;
      left: 50%;
      margin-top: 100px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 100;
    }
    </style><![endif]-->
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top: 120px;">
                <h2 class="jumbo-text text-center" style="width: 100%;">Funds Raised...</h2>

                <p class="page-text" style="text-align: center">Every time you place an order we will take the profit
                    percentage from the order (total amount minus costs minus taxes) and assign it to your selected
                    Regional Division, this allows you to see how much people in your region have raised as a group.
                    This amount will be donated monthly as a lump sum
                    and confirmation of receipt from Help 4 Heroes will be posted to the regional divisions facebook
                    group. After the end of year accounts have been done and the corporation tax paid, any profits
                    remaining will be paid to H4H as a lump sum payment.</p>
            </div>
        </div>
        <div class="row items-wrapper">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="product-item well" id="diy">
                    <div class="product-description" style="width: 100%;">
                        <h3 class="name" style="text-align: center; width: 100%;">Chose Your Regional Division</h3>
                    </div>
                    <div class="product-description">

                        <div class="price-wrapper">

                            <select id="division-sel" name="division-sel"
                                    class="form-control visible-lg visible-md hidden-sm hidden-xs"
                                    style="width: 85%;" onchange="check_div()">                                    <
                                    {% for div in divisions %}
                                      <option value="{{ div.id }}" {% if selected_div.id == div.id %}selected{%endif %}>{{ div.name }}</option>
                                    {% endfor %}
                            </select>

                            <select id="division-sel" name="division-sel"
                                    class="form-control hidden-lg hidden-md visible-sm visible-xs"
                                    style="width: 60%;" onchange="check_div()">
                                    {% for div in divisions %}
                                      <option value="{{ div.id }}" {% if selected_div.id == div.id %}selected{%endif %}>{{ div.name }}</option>
                                    {% endfor %}
                            </select>

                            <a id="button-add" class="btn btn-success" style="cursor: pointer; padding-left: 5px;"
                               role="button"
                               rel-select="diy-liquid" onclick="establish_division()" {% if hide_link %}disabled{% endif %}>Establish</a>
                        </div>
                    </div>
                    <div id="div_div_url" class="product-image" style="width: 100%;{% if hide_link %}display:none{% endif %}">
                        <p id="p_div_url" style="{% if hide_link %}display:none{% endif %}">Join the facebook group for this Regional Division here: <a id="division_url" href="{{ selected_div.fb_link }}">{{ selected_div.name }}</a><p>
                    </div>
                    <div class="product-image" style="width: 100%;">
                        <table class="table table-bordered">
                             <tr style="font-weight: bold;">
                                    <td>Region Name</td>
                                    <td>This Month Total</td>
                                    <td>Last Month Total</td>
                                </tr>
                                {% for id, div in stats_resume.iteritems %}
                                  <tr>
                                    <td>{{ div.0 }}</td>
                                    <td>{{ div.1 }}</td>
                                    <td>{{ div.2 }}</td>
                                  </tr>
                                {% endfor %}
                        </table>

                       <p class="name" style="text-align: left; width: 100%;margin-left: 10px; font-weight: bold;font-size: larger"> Figures updated once a week...</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}