<header id="header">
        <div class="container">
            <div class="menu left">
                <ul>
                    <li><a href="/usersadmin/">Home</a></li>
                    <li><a href="/usersadmin/eliquid-10ml">10ml E Liquid</a></li>
                    <li><a href="/usersadmin/eliquid-30ml">30ml E Liquid</a></li>
                    <li><a href="/usersadmin/diy_liquid">Ingredients</a></li>
                </ul>
            </div>
            <div class="menu menu-separator"></div>
            <div class="logo"><a><img src="{{ STATIC_URL }}frontend/logo.png"/></a></div>
            <a href="#" role="menu-btn" class="menu-btn index-menu-btn pull-right" title="">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <div class="menu right index-menu">
                <ul>
                    <li class="mobile-item"><a href="/usersadmin/">Home</a></li>
                    <li class="mobile-item"><a href="/usersadmin/eliquid-10ml">10ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/usersadmin/eliquid-30ml">30ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/usersadmin/diy_liquid">Ingredients</a></li>
                    <li><a href="/usersadmin/devices">Devices</a></li>
                    <li><a href="/usersadmin/your_details">Your Details</a></li>
                    <li><a href="/usersadmin/funds_raised">Funds Raised</a></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>