{% extends 'base_usersarea.html' %}

{% block js %}
    {{ block.super }}
        <script type="text/javascript" src="/static/find_friends/adiinviter/js/adiinviter.js"></script>
    <script type="text/javascript" src="/static/find_friends/adiinviter_params.php?theme_id=simplified"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style2.css">
    <link rel="stylesheet" type="text/css" href="/static/find_friends/adiinviter_css.php?theme_id=simplified">
{% endblock %}

{% block main_content %}
    
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 130px;">
                <div class="well well-lg" style="margin-bottom: 0px;">
                    <h1 class="jumbo-text text-center"><span class="text-uppercase">Free</span> Liquid For Life&hellip;</h1>
                    <div class="content-text">
                        <p class="text-center">
                            Send your friends a link so they can claim a <span class="text-uppercase red">Free</span> bottle of our E-Liquid.
                        </p>
                        <p class="text-center">
                            <span class="text-uppercase">Every</span> time they return and place an order, we will give <span class="text-uppercase red">You</span> a <span class="text-uppercase red">free</span> bottle just for introducing them.

                        </p>
                        <p class="text-center">
                            Remember ... All profit generated is pledged to our Charity of the year <span class="text-uppercase red"> HELP for HEROES </span> so the more we share, the more we raise.
                        </p>
                    </div>
                </div> <!-- /well -->
                <div class="fancy-links">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ fb_data.absolute_url }}" target="_blank"><img src="{{ STATIC_URL }}/useradmins/con_fb.jpg" alt=""></a>
                    <a style="cursor:pointer;" id="twitter_popup"><img src="{{ STATIC_URL }}/useradmins/con_twit.jpg" alt=""></a>
{#                    <a href="#" class="adi_open_popup_model"><img src="{{ STATIC_URL }}/useradmins/con_mail.jpg" alt=""></a>#}
                    <a href="http://heroesvape.uk/static/inviter_inpage.php" target="_blank"><img src="{{ STATIC_URL }}/useradmins/con_mail.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="well content-text">
                    <h3 class="jumbo-small text-center text-uppercase">
                        match this:
                    </h3>
                    <p class="normal-text">
                        The average person introduces 4 people, generating 4 free bottles of liquid every month for himself.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="well content-text">
                    <h3 class="jumbo-small text-center text-uppercase">
                        beat this:
                    </h3>
                    <p class="normal-text">
                        The highest referring person introduced 9 people giving him 7 free bottles of liquids every month on average.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <script src="{{ STATIC_URL }}invites.js"></script>
{% endblock %}