{% extends 'base_usersarea.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style-backend.css">
{% endblock %}

{% block main_content %}
<div class="container big-top-padding">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="main-title text-uppercase">Your Details</h2>
        </div>
    </div>

    <form method="post" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
    <div class="row">

        <input name="section" value="main" hidden="hidden">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="your-email" class="text-uppercase top-label">Email ID</label>
                    <input name="email" type="text" class="form-control input-lg" placeholder="lambecli@aol.com"
                            value="{{ private_address.email }}">
            </div>
            <div class="form-group">
                <label for="your-password" class="text-uppercase top-label">Password</label>
                <input name="password" type="password" class="form-control input-lg" placeholder="">
            </div>
            <div class="form-group">
                <label for="your-password" class="text-uppercase top-label">Retype Password</label>
                <input name="re-password" type="password" class="form-control input-lg" placeholder="">
            </div>
            <h4 style="color: red;" hidden="hidden" id="password_message_error">Password do not match, please try
            again.</h4>
            {% if show_message %}
                <h4 style="color: green;" id="password_message_success">Password changed successfully.</h4>
            {% endif %}
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-6"></div>

    </div>

    <div class="col-md-4">
        <input type="submit" value="Edit" class="button1">
    </div>
    </form>
    <div class="clear"></div>
    </div>
{#    </form>#}
    <div class="clear"></div>
    </div>
    <div class=" clear"></div>
</div>
{% endblock %}