 <option selected>Select Strength</option>
{% for key,value in strengths.iteritems %}
    <option value="{{ key }}">{{ value.0 }} {% if not value.1 %}
        (Out Of Stock){% endif %}</option>
{% endfor %}