{% if selected_flavours|length > 0 or additional|length > 0 or selected_flavours2|length > 0%}
    {% for key, item_name in selected_flavours.iteritems %}
        <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span
                class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{item_name.count }})</span></li>
    {% endfor %}

    {% for key, item_name in selected_flavours2.iteritems %}
        <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span
                class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{item_name.count }})</span></li>
    {% endfor %}

    {% for key, item_name in additional.iteritems %}
        <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span
                class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
    {% endfor %}
{% else %}
    <h4 style="color: #002060;text-align: center"> Your Basket Is Empty</h4>
{% endif %}