 <option selected>Select</option>
{% for f in flavours %}
{% if f.cloud_category == '1' %}
    <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
{% else %}
    <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
{% endif %}
{% endfor %}