{% extends "general_user.html" %}

{% block css %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style-others.css">
{% endblock %}

{% load i18n %}



{% block middle_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 120px;">
                <div  style="margin-bottom: 20px;">
                    <h3 class="form-title text-center" style="color: #1d1d1d;font-family: mygoticbold,sans-serif;font-size: 42px;">Log into your account</h3>

                    <p class="small-text" style="font-family: mygoticReg,sans-serif;font-size: 18px;">Please ensure nobody is watching as you type your password :</p>

                    <form action="{% url 'django.contrib.auth.views.login' %}" method="post"
                          id="login-form">{% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {% trans "Your username and password didn't match. Please try again." %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" placeholder="Email address" class="form-control input-lg"
                                   name="username" style="margin-bottom: 10px;;" required/>
                            <input type="password" placeholder="Password" class="form-control input-lg" name="password"
                                   required/>
                        </div>
                        <div class="form-group text-left">
                            <label>
                                <input type="checkbox" value="remember-me"/> Remember me
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block green-btn">Send</button>
                        </div>
                        <p class="small">
                            ( Forgot your username or password? Please <a href="/password_recover">click here</a> ) .
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}scripts.js"></script>
{% endblock %}

