{% extends 'general_user.html' %}

{% block css %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style-others.css">
{% endblock %}

{% load i18n %}

{% block middle_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 120px;">
                <div style="margin-bottom: 20px;">
                    <h3 class="form-title text-center" style="color: #1d1d1d;font-family: mygoticbold,sans-serif;font-size: 42px;">Recover your Password</h3>

                    <p class="small-text" style="font-family: mygoticReg,sans-serif;font-size: 18px;"> So we can help you recover your username and password please enter your email
                        address:</p>
                    {% if message %}
                        <div id="message" class="alert alert-danger alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endif %}
                    <form action="/password_recover/" method="post" id="login-form">{% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {% trans "Your username and password didn't match. Please try again." %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" placeholder="Email address" class="form-control input-lg" name="email"
                                   id="email" style="margin-bottom: 10px;;" required/>

                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block green-btn">Send</button>
                        </div>
                        <p class="small">
                            ( The email address you enter must already be associated with the account your trying to
                            recover
                            ).</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ STATIC_URL }}scripts.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#message').fadeOut(5000);
        });
   </script>
{% endblock %}