{% load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="Try a FREE bottle of our E-Liquid Today." />
 <meta property="og:description" content="100% Risk Free, Stock Is Limited ... Dont Miss Out!"/>
   <meta property="og:site_name" content="HEROES vape"/>
    <meta property="og:url" content="link shows here"/>
    <meta property="og:type" content="W"/>
    <meta property="fb:app_id" content="552873124805448"/>
    <meta property="og:image" content="http://heroesvape.uk/static/social_invites/facebook.jpg"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@heroesvape">
    <meta name="twitter:title" content="Try a FREE bottle of our E-Liquid Today..">
    <meta name="twitter:description" content="100% Risk Free, Stock Is Limited ... Dont Miss Out!">
<meta name="twitter:image" content="http://heroesvape.uk/static/social_invites/twitter.jpg" >

<link rel="icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico"/>
<title>{%block title%}{% trans 'HEROES vape | E Liquid | eliquid | Vaping | Vaping Liquid'%}{%endblock%}</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

{%block css%}
{%endblock%}
{%block js%}
{%endblock%}
</head>
<body>
{%block content%}
 <!-- Modal -->
    <div class="modal fade col-lg-12 col-md-12 col-sm-10 col-xs-10" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="max-width: 390px!important;">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="container-popup">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <h1 style="text-align: center">Age Check</h1>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <h4 style="text-align: center">If you agree to us using cookies and you are over 18</h4>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        </div>
                    </div>

                    <div class="container-buttons">
                        <a id="modal_age_ok" class="big-btn green-btn col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs visible-sm visible-md visible-lg" href="#" style="text-align: center;text-decoration: none">Enter Here</a>
                        <a id="modal_age_ok2" class="big-btn green-btn col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-xs hidden-sm hidden-md hidden-lg" href="#" style="font-size: 25px;text-align: center;text-decoration: none">Enter Here</a>
{#                        <button type="button" class="btn btn-success button-popup">Enter Here</button>#}
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <h4 style="text-align: center">Otherwise</h4>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        </div>
                        <a class="big-btn2 red-btn2 col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs visible-sm visible-md visible-lg" href="http://google.co.uk" style="text-align: center; text-decoration: none">Click Here to Exit</a>
                        <a class="big-btn2 red-btn2 col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-xs hidden-sm hidden-md hidden-lg" href="http://google.co.uk" style="font-size: 25px;text-align: center;text-decoration: none">Click Here to Exit</a>
{#                        <button style="width: 100%" type="button" class="btn btn-danger button-popup" data-dismiss="modal">Click Here to Exit</button>#}
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{%endblock%}
</body>
</html>