{% load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{%block title%}{% trans 'Users area'%}{%endblock%}</title>

 {% block facebook_meta %}

 {% endblock %}

<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico"/>


<meta property="og:title" content="Its Time To Try HEROES vape." />
   <meta property="og:site_name" content="HEROES vape"/>
    <meta property="og:url" content="link shows here"/>
    <meta property="og:description" content="Find Out Why So Many People Are Now Getting Their E-Liquids and Vaping Supplies From HEROES vape."/>
    <meta property="og:type" content="W"/>
    <meta property="fb:app_id" content="552873124805448"/>
    <meta property="og:image" content="http://heroesvape.uk/static/social_invites/facebook2.jpg"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@heroesvape">
    <meta name="twitter:title" content="Its Time To Try HEROES vape.">
    <meta name="twitter:description" content="Find Out Why So Many People Are Now Getting Their E-Liquids and Vaping Supplies From HEROES vape.">
<meta name="twitter:image" content="http://heroesvape.uk/static/social_invites/twitter2.jpg" >

{%block css%}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}/ie/v8.css" /><![endif]-->
{%endblock%}
{%block js%}
    <script src="{{ STATIC_URL }}jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap.js"></script>
    <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js.cookie.js"></script>
{#    <script src="{{ STATIC_URL }}jquery.popup.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}scripts.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}public.js"></script>
{%endblock%}
</head>
<body>
{% include 'users_area/header.html' with user_name=user.first_name %}
<div class=" clear"></div>
{%block main_content%}

{%endblock%}
 <div class=" clear"></div>
{% include 'users_area/footer.html'%}

  <script src="{{ STATIC_URL }}scripts.js"></script>
{#  <script src="{{ STATIC_URL }}frontend.js"></script>#}
  <script src="{{ STATIC_URL }}userareas.js"></script>

</body>
</html>