{%extends "base.html"%}

{% load i18n%}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css">
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}/ie/v8.css" /><![endif]-->
{% endblock %}

{%block js%}
    <script src="{{ STATIC_URL }}jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap.js"></script>
    <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js.cookie.js"></script>
{%endblock%}
