{%extends "general.html"%}

{% load i18n%}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <!--[if IE]><style>
      .logo {
      position: absolute;
      left: 50%;
      margin-top: 100px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 100;
    }
    </style><![endif]-->
{% endblock %}

{%block content%}
    {{ block.super }}


      <header id="header">
        <div class="container">
            <div class="menu left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li><a href="/diy_liquid">Ingredients</a></li>
                </ul>
            </div>
        <div class="menu menu-separator"></div>
            <div class="logo"><a><img src="{{ STATIC_URL }}frontend/logo.png" /></a></div>
            <a href="#" role="menu-btn" class="menu-btn index-menu-btn pull-right" title="">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <div class="menu right index-menu">
                <ul>
                    <li class="mobile-item"><a href="/">Home</a></li>
                    <li class="mobile-item"><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/diy_liquid">Ingredients</a></li>
                    <li><a href="/devices">Devices</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    {% if not is_logged_in %}<li><a href="/accounts/login">Log In</a></li>{% else %}<li><a href="/accounts/logout">Logout</a></li>{% endif %}
{#                    <li><a href="http://lambertsmokingliquid.co.uk/uk_blog/">Blog</a></li>#}
                </ul>
            </div>
        </div>
    </header>



    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top: 120px;">
                <h2 class="jumbo-text text-center" style="width: 100%;">Ingredients & Essentials...</h2>
                <p class="page-text" style="text-align: center">Bellow you will find a selection of ingredients and equipment to enable you to make your own liquids exactly as you like it.</p>
            </div>
        </div>

        <div class="row items-wrapper">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                {% for key, prod in products.iteritems  %}
                <div class="product-item well" id="diy-{{ key }}">
                    <div class="product-description" style="width: 100%;">
                        <h3 class="name" style="text-align: center; width: 100%;">{{ prod.0 }}</h3>
                    </div>
                    <div class="product-image" style="width: 100%;">
{#                        <img class="img-responsive" src="{{ STATIC_URL }}/frontend/device.jpg" alt="">#}
                        <img class="img-responsive" src="data:image/png;base64,{{ prod.1 }}" style="width: 100%;">
                    </div>
                    <div class="product-description">
{#                        <h3 class="name">{{ prod.product_title }}{% if not prod.stock_qty > 0 %} - Out Of Stock{% endif %}</h3>#}
                        <p class="page-text">
                            {{ prod.2 }}
                        </p>

                        <div class="price-wrapper">

                            <select id="diy-liquid-{{ key }}" name="diy-liquid"
                                    class="form-control visible-lg visible-md hidden-sm hidden-xs"
                                     style="width: 85%;" onchange="check_availability($(this))">
                                <option selected>Select size</option>
                                {% for diy in prod.3 %}
                                    <option value="{{ diy.id }}">{{ diy.product_size.display_name }} - £{{ diy.price_extra }}{% if diy.stock_qty == 0 %} (Out Of Stock){% endif %}</option>
                                {% endfor %}
                            </select>

                            <select id="diy-liquid-{{ key }}" name="diy-liquid"
                                    class="form-control hidden-lg hidden-md visible-sm visible-xs"
                                    style="width: 60%;" onchange="check_availability($(this))">
                                <option selected>Select size</option>
                                   {% for diy in prod.3 %}
                                    <option value="{{ diy.id }}">{{ diy.product_size.display_name }} - £{{ diy.price_extra }}{% if diy.stock_qty == 0 %} (Out Of Stock){% endif %}</option>
                                 {% endfor %}

                            </select>

                        <a id="button-add" class="btn btn-success" style="cursor: pointer; padding-left: 5px;" role="button"
                               rel-select="diy-liquid-{{ key }}" onclick="add2cart($(this),3)" disabled>Buy One</a>
                       </div>
{#                        <div class="price-wrapper">#}
{#                            <span class="price">Price: <strong>£{{ prod.product_tmpl.list_price }}</strong></span>#}
{#                            <input id="smoking_device{{ prod.id }}" type="hidden" value="{{ prod.id }}">#}
{#                            <a class="btn btn-success" style="cursor: pointer" role="button" rel-select="smoking_device{{ prod.id }}" onclick="add2cart($(this),3)" {% if not prod.stock_qty > 0 %} disabled {% endif %}>Buy One</a>#}
{#                        </div>#}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div role="alert" class="site-alerts alert alert-success fade in" id="message" style="display: none">
                    <button type="button" class="close" onclick="$('#error_message').hide()">&times;</button><strong>The product was successfully added.</strong>
                </div>
                <div class="cart-list">
                     <h2 class="text-center">Your Basket.</h2>
                      <ol>
                        {% if selected_flavours|length > 0 or additional|length > 0 or selected_flavours2|length > 0%}
                        {% for key, item_name in selected_flavours.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}

                        {% for key, item_name in selected_flavours2.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}

                        {% for key, item_name in additional.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}
                        {% else %}
                            <h4 style="color: #002060;text-align: center"> Your Basket Is Empty</h4>
                        {% endif %}
                    </ol>
                    <p class="total-cost"><strong>Total Cost:</strong> <span id="cart_total">{% if cart_total %} £{{ cart_total }} {% else %} £0.00 {% endif %}</span></p>
                    <p class="total-delivery"><strong>Delivery Cost:</strong> £<span id="cart_delivery">{% if delivery_cost %} {{ delivery_cost }} {% else %} 0.00 {% endif %}</span></p>
                    <p id="total_saving" class="total-cost"><strong>Total Saving:</strong> <span {% if valid_code %} style="color:#002060; font-size: x-large"{% endif %}> £{{ total_saving }} </span></p>
                    <div class="text-center">
                        <a id="procced_button" href="/order_now2" role="button" class="btn btn-success btn-lg" {% if count == 0 %} disabled="disabled" {% endif %}>Click to Proceed&hellip;</a>
                    </div>
                </div>

{#                <div class="btn-wrapper floated" style="margin-bottom: 0px;">#}
{#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
{#                    <img src="{{ STATIC_URL }}/frontend/free_uk_delivery.jpg" class="img-responsive">#}
{#                </div>#}

                <div class="btn-wrapper floated">
{#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
                    <img src="{{ STATIC_URL }}/frontend/help_free_bottle_short.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>


    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper"><img src="{{ STATIC_URL }}frontend/footer-logo.jpg" alt="" class="img-responsive"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="footer_addr">HV<br>
                            Armstrong House<br>
                            First Avenue<br>
                            Robin Hood Airport<br>
                            Doncaster<br>
                            South Yorkshire<br>
                            DN9 3GA</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter"><a href="https://twitter.com/heroesvape"><img src="{{ STATIC_URL }}frontend/twitter-foo.jpg" /></a></div>
                        <div class="ftr_facebook"><a href="https://www.facebook.com/Heroes-vape-208574059328157"><img src="{{ STATIC_URL }}frontend/facebook-foo.jpg" /></a></div>
                        <div class="ftr_mail"><a href="/contact_us/"><img src="{{ STATIC_URL }}frontend/mail-foo.jpg" /></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                             <li><a href="/">Home</a></li>
                            <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                            <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                            <li><a href="/diy_liquid">Ingredients</a></li>
                            <li><a href="/devices">Devices</a></li>
                            <li><a href="/about_us" class="hidden-xs">About Us</a></li>
                            <li><a href="/contact_us" class="hidden-xs">Contact Us</a></li>
                            <li><a href="/uk_blog" class="hidden-xs">Blog</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 HEROESvape.uk. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>


     <!-- Modal -->
    <div class="modal fade col-lg-12 col-md-12 col-sm-10 col-xs-10" id="weight_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="max-width: 390px!important;">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="container-popup">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <h1 style="text-align: center">Warning...</h1>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <h4 style="text-align: center">With this product the total gross weight in your order exceeds the total allowed weight, if you need some more of this product, please contact us for a quote. </h4>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                        </div>
                    </div>

                    <div class="container-buttons" style="height: 120px;">
                        <a id="weight_modal_ok" class="big-btn green-btn col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs visible-sm visible-md visible-lg" href="#" style="text-align: center;text-decoration: none;">Close</a>
                        <a id="weight_modal_ok2" class="big-btn green-btn col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-xs hidden-sm hidden-md hidden-lg" href="#" style="font-size: 25px;text-align: center;text-decoration: none;">Close</a>

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="{{ STATIC_URL }}scripts.js"></script>
    <script src="{{ STATIC_URL }}frontend.js"></script>
    {% if show_age_dialog %}
        <script type="application/javascript">
          $('#ageModal').modal('show')
        </script>
    {% endif %}

    <script type="application/javascript">

      $(document).ready(function(){
          $('#weight_modal_ok').click(function(){
              $('#weight_modal').modal('hide');
            });

           $('#weight_modal_ok2').click(function(){
              $('#weight_modal').modal('hide');
            });
      });

    </script>








{% endblock %}