{% extends "general.html" %}

{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <!--[if IE]><style>
      .logo {
      position: absolute;
      left: 50%;
      margin-top: 100px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 100;
    }
    </style><![endif]-->
{% endblock %}

{% block content %}
    {{ block.super }}


    <header id="header">
        <div class="container">
            <div class="menu left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li><a href="/diy_liquid">Ingredients</a></li>
                </ul>
            </div>
            <div class="menu menu-separator"></div>
            <div class="logo"><a><img src="{{ STATIC_URL }}frontend/logo.png"/></a></div>
            <a href="#" role="menu-btn" class="menu-btn index-menu-btn pull-right" title="">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>

            <div class="menu right index-menu">
                <ul>
                    <li class="mobile-item"><a href="/">Home</a></li>
                    <li class="mobile-item"><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/diy_liquid">Ingredients</a></li>
                    <li><a href="/devices">Devices</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    {% if not is_logged_in %}
                        <li><a href="/accounts/login">Log In</a></li>{% else %}
                        <li><a href="/accounts/logout">Logout</a></li>{% endif %}
                    {#                    <li><a href="http://lambertsmokingliquid.co.uk/uk_blog/">Blog</a></li>#}
                </ul>
            </div>
        </div>
    </header>



    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top: 120px;">
                <h2 class="jumbo-text text-center" style="width: 100%;">30ml E-Liquid&hellip;</h2>

                <p class="page-text" style="text-align: center">Our 30ml range has been developed using a 70%VG base which offers just the right balance between cloud production and flavour experience. This exclusive range has been created in partnership with our most loyal supporters and each 30ml bottle now comes with a FREE glass dropper.</p>
            </div>
        </div>

        <div class="row items-wrapper">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-wrapper hidden-xs hidden-sm hidden-md"
                     style="display: inline-flex; width: 900px; margin-left: 100px;">
                    <p class="big-btn red-btn2">£7.99 per Bottle</p>
                    <span>or</span>

                    <p class="big-btn red-btn2">3 Bottles for £19</p>
                    <span>+</span>

                    <p class="big-btn blue-btn2">FREE Delivery</p>

                </div>

                <div class="btn-wrapper display-xs display-sm display-md hidden-lg">
                    <p class="big-btn red-btn2">£7.99 per Bottle</p>
                    <span>or</span>

                    <p class="big-btn red-btn2">3 Bottles for £19</p>
                    <span>+</span>

                    <p class="big-btn blue-btn2">FREE Delivery</p>

                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="product-item well">
                    <div class="product-description" style="width: 100%;">
                        <h3 class="name" style="text-align: center; width: 100%;">Flavour Options&hellip;</h3>
                    </div>
                    <div class="product-image" style="width: 100%;">
                                                <img class="img-responsive" src="{{ STATIC_URL }}/frontend/30ml_image.jpg" alt="">
{#                        <img class="img-responsive" src="data:image/png;base64,{{ product_img }}" style="width: 100%;">#}
                    </div>
                    <div class="product-description">
                        {#                        <h3 class="name">{{ prod.product_title }}{% if not prod.stock_qty > 0 %} - Out Of Stock{% endif %}</h3>#}

                        <div class="price-wrapper">
                            <select id="eliquid30ml" name="eliquid30ml"
                                    class="form-control visible-lg visible-md hidden-sm hidden-xs"
                                    onchange="get_strengths_from_product($(this))" style="width: 85%;">
                                <option selected>Select Flavour</option>
                                {% for key, prod in products.iteritems %}
                                    <option value="{{ key }}">{{ prod.0 }}{% if prod.1 %} (Out of Stock){% endif %}
                                    </option>
                                {% endfor %}
                            </select>

                            <select id="eliquid30ml2" name="eliquid30ml"
                                    class="form-control hidden-lg hidden-md visible-sm visible-xs"
                                    onchange="get_strengths_from_product($(this))" style="width: 60%;">
                                <option selected>Select Flavour</option>
                                {% for key, prod in products.iteritems %}
                                    <option value="{{ key }}">{{ prod.0 }} {% if prod.1 %} (Out of Stock){% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                            {#                            <span class="price">Price: <strong>£{{ prod.product_tmpl.list_price }}</strong></span>#}
                            {#                            <input id="smoking_device{{ prod.id }}" type="hidden" value="{{ prod.id }}">#}
                        </div>

                        <p id="product_description" class="page-text"
                           style="padding-left: 10px;padding-top: 10px;">

                        </p>
                    <div class="price-wrapper">

                        <select id="eliquid30ml_strength" name="eliquid30ml-strength"
                                class="form-control visible-lg visible-md hidden-sm hidden-xs"
                                 style="width: 85%;" onchange="check_availability2($(this))">
                            <option selected>Select Strength</option>
                            {% for key, value in strengths.iteritems %}
                                <option value="{{ key }}">{{ value }} </option>
                            {% endfor %}
                        </select>

                        <select id="eliquid30ml_strength2" name="eliquid30ml-strength"
                                class="form-control hidden-lg hidden-md visible-sm visible-xs"
                                style="width: 60%;" onchange="check_availability3($(this))">
                            <option selected>Select Strength</option>
                             {% for key, value in strengths.iteritems %}
                                <option value="{{ key }}">{{ value }} </option>
                            {% endfor %}

                        </select>

                        <a id="button-add" class="btn btn-success visible-lg visible-md hidden-sm hidden-xs" style="cursor: pointer; padding-left: 5px;" role="button"
                               rel-select="eliquid30ml_strength" onclick="add2cart($(this),2)" disabled>Buy One</a>


                        <a id="button-add2" class="btn btn-success hidden-lg hidden-md visible-sm visible-xs" style="cursor: pointer; padding-left: 5px;" role="button"
                               rel-select="eliquid30ml_strength2" onclick="add2cart($(this),2)" disabled>Buy One</a>
                    </div>


                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div role="alert" class="site-alerts alert alert-success fade in" id="message" style="display: none">
                    <button type="button" class="close" onclick="$('#error_message').hide()">&times;</button>
                    <strong>The product was successfully added.</strong>
                </div>
                <div class="cart-list">
                    <h2 class="text-center">Your Basket.</h2>
                    <ol>
                        {% if selected_flavours|length > 0 or additional|length > 0 or selected_flavours2|length > 0 %}
                            {% for key, item_name in selected_flavours.iteritems %}
                                <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer"
                                                                                               onclick="remove_from_cart('{{ key }}')"><span
                                        class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span
                                        style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                            {% endfor %}

                            {% for key, item_name in selected_flavours2.iteritems %}
                                <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer"
                                                                                               onclick="remove_from_cart('{{ key }}')"><span
                                        class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span
                                        style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                            {% endfor %}

                            {% for key, item_name in additional.iteritems %}
                                <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer"
                                                                                               onclick="remove_from_cart('{{ key }}')"><span
                                        class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span
                                        style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                            {% endfor %}
                        {% else %}
                            <h4 style="color: #002060;text-align: center"> Your Basket Is Empty</h4>
                        {% endif %}
                    </ol>
                    <p class="total-cost"><strong>Total Cost:</strong> <span id="cart_total">{% if cart_total %} £
                        {{ cart_total }} {% else %} £0.00 {% endif %}</span></p>
                    <p class="total-delivery"><strong>Delivery Cost:</strong> £<span id="cart_delivery">{% if delivery_cost %} {{ delivery_cost }} {% else %} 0.00 {% endif %}</span></p>
                    <p id="total_saving" class="total-cost"><strong>Total Saving:</strong> <span {% if valid_code %} style="color:#002060; font-size: x-large"{% endif %}> £{{ total_saving }} </span></p>

                    <div class="text-center">
                        <a id="procced_button" href="/order_now2" role="button" class="btn btn-success btn-lg"
                                {% if count == 0 %} disabled="disabled" {% endif %}>Click to Proceed&hellip;</a>
                    </div>
                </div>

                <div class="btn-wrapper floated" style="margin-bottom: 0px;">
                    {#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
                    <img src="{{ STATIC_URL }}/frontend/free_uk_delivery.jpg" class="img-responsive">
                </div>

                <div class="btn-wrapper floated">
                    {#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
                    <img src="{{ STATIC_URL }}/frontend/help_free_bottle_short.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>


    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper"><img
                                src="{{ STATIC_URL }}frontend/footer-logo.jpg" alt="" class="img-responsive"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="footer_addr">HV<br>
                                Armstrong House<br>
                                First Avenue<br>
                                Robin Hood Airport<br>
                                Doncaster<br>
                                South Yorkshire<br>
                                DN9 3GA
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter"><a href="https://twitter.com/heroesvape"><img
                                src="{{ STATIC_URL }}frontend/twitter-foo.jpg"/></a></div>
                        <div class="ftr_facebook"><a href="https://www.facebook.com/Heroes-vape-208574059328157"><img
                                src="{{ STATIC_URL }}frontend/facebook-foo.jpg"/></a></div>
                        <div class="ftr_mail"><a href="/contact_us/"><img src="{{ STATIC_URL }}frontend/mail-foo.jpg"/></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                            <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                            <li><a href="/diy_liquid">Ingredients</a></li>
                            <li><a href="/devices">Devices</a></li>
                            <li><a href="/about_us" class="hidden-xs">About Us</a></li>
                            <li><a href="/contact_us" class="hidden-xs">Contact Us</a></li>
                            <li><a href="/uk_blog" class="hidden-xs">Blog</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 HEROESvape.uk. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <script src="{{ STATIC_URL }}scripts.js"></script>
    <script src="{{ STATIC_URL }}frontend.js"></script>
    {% if show_age_dialog %}
        <script type="application/javascript">
            $('#ageModal').modal('show')
        </script>
    {% endif %}






{% endblock %}