{%extends "general2.html"%}

{% load i18n%}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
{% endblock %}

{%block content%}
    {{ block.super }}


     <header id="header">
        <div class="container">
            <div class="menu left">
                <ul>
                   <li><a href="/">Home</a></li>
                    <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li><a href="/diy_liquid">Ingredients</a></li>
                </ul>
            </div>
        <div class="menu menu-separator"></div>
            <div class="logo"><a><img src="{{ STATIC_URL }}frontend/free_logo.png" /></a></div>
            <a href="#" role="menu-btn" class="menu-btn index-menu-btn pull-right" title="">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <div class="menu right index-menu">
                <ul>
                     <li class="mobile-item"><a href="/">Home</a></li>
                    <li class="mobile-item"><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/diy_liquid">Ingredients</a></li>
                    <li><a href="/devices">Devices</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    {% if not is_logged_in %}<li><a href="/accounts/login">Log In</a></li>{% else %}<li><a href="/accounts/logout">Logout</a></li>{% endif %}
{#                    <li><a href="http://lambertsmokingliquid.co.uk/uk_blog/">Blog</a></li>#}
                </ul>
            </div>
        </div>
    </header>



     <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper well well-lg">
                 <p class="page-text conditions-needed" style="text-align: center;">
                    <span style="color:#15359d;font-size: x-large">Thank You... </span> We will send your FREE bottle of liquid out as soon as possible.
                </p>

{#                <p class="page-text conditions-needed hidden-xs" style="text-align: center;">#}
{#                    <span style="color:black;font-size: xx-large;border-top: 2px solid #15359d; border-bottom: 2px solid #15359d;">Start Saving...Order Now</span>#}
{#                </p>#}

                 <div class="btn-wrapper hidden-xs hidden-sm hidden-md" style="display: inline-flex; width: 1000px; margin-left: 100px;">
                     <p class="big-btn red-btn" >£2.99 per Bottle</p>
                    <span>or</span>
                    <p class="big-btn red-btn" >4 Bottles for £10</p>
                    <span>+</span>
                    <a class="big-btn green-btn" style="margin-bottom: 5px;"  href="/order_now">Click here to Order</a>
                </div>


                 <div class="btn-wrapper display-xs display-sm display-md hidden-lg">
                    <p class="big-btn red-btn" >£2.99 per Bottle</p>
                    <span>or</span>
                    <p class="big-btn red-btn" >4 Bottles for £10</p>
                    <span>+</span>
                    <a class="big-btn green-btn"  href="/order_now">Click here to Order</a>
                </div>

                   <p class="page-text conditions-needed" style="text-align: center;">
                    If you don’t want to wait you can place an order now and we will add your FREE bottle to that order.
                </p>


{#                 <ul class="page-text conditions-needed" style="text-align: center">#}
{#                    <li>6 Flavours Available</li>#}
{#                    <li>5 different Strengths</li>#}
{#                    <li>FREE Delivery</li>#}
{#                </ul>#}

                <div class="free_bottle">

{#                <div class="text-center">#}
{#                        <a class="btn btn-success btn-lg" role="button" href="/order_now">Click here to Order</a>#}
{#                </div>#}
                    </div>
                    </div>

            </div>
        </div>
    </div>



<div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper"><img src="{{ STATIC_URL }}frontend/footer-logo.jpg" alt="" class="img-responsive"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="footer_addr">HV<br>
                            Armstrong House<br>
                            First Avenue<br>
                            Robin Hood Airport<br>
                            Doncaster<br>
                            South Yorkshire<br>
                            DN9 3GA</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                       <div class="ftr_twitter"><a href="https://twitter.com/heroesvape"><img src="{{ STATIC_URL }}frontend/twitter-foo.jpg" /></a></div>
                        <div class="ftr_facebook"><a href="https://www.facebook.com/Heroes-vape-208574059328157"><img src="{{ STATIC_URL }}frontend/facebook-foo.jpg" /></a></div>
                        <div class="ftr_mail"><a href="/contact_us/"><img src="{{ STATIC_URL }}frontend/mail-foo.jpg" /></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                            <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                            <li><a href="/diy_liquid">Ingredients</a></li>
                            <li><a href="/devices">Devices</a></li>
                            <li><a href="/about_us" class="hidden-xs">About Us</a></li>
                            <li><a href="/contact_us" class="hidden-xs">Contact Us</a></li>
                            <li><a href="/uk_blog" class="hidden-xs">Blog</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 HEROESvape.uk. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <script src="{{ STATIC_URL }}scripts.js"></script>
    <script src="{{ STATIC_URL }}frontend.js"></script>
    {% if show_age_dialog %}
        <script type="application/javascript">
          $('#ageModal').modal('show')
        </script>
    {% endif %}


{% endblock %}