{%extends "general2.html"%}

{% load i18n%}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
{% endblock %}

{%block content%}
    {{ block.super }}
    <header id="header" class="hidden-xs hidden-sm hidden-md">
        <div class="container">
            <div class="logo landing-logo2"><a href="/free_bottle"><img src="{{ STATIC_URL }}frontend/free_logo.png" /></a></div>
        </div>
    </header>

    <header id="header" class="visible-xs visible-sm visible-md" style="margin-bottom: 100px;">
        <div class="container">
            <div class="logo landing-logo visible-xs visible-sm visible-md"><a href="/free_bottle"><img src="{{ STATIC_URL }}frontend/free_logo.png" /></a></div>
        </div>
    </header>


    <div>
{#        <div class="container">#}
            <div class="row" style="height: 400px;">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 gray-background2 visible-lg visible-md hidden-xs hidden-sm" style="margin-top: 130px">
{#                    <div class="row">#}
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="background-color: white; margin-top: 200px;">
                            <div class="fancy-images">
                                <img  class="img-responsive" src="{{ STATIC_URL }}frontend/help_free_bottle_desktop.jpg" alt="bottles">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                             <div class="fancy-images" style="position: relative;z-index: 99;">
                                <img  class="img-responsive" src="{{ STATIC_URL }}frontend/new_bottle.png" alt="bottles">
                            </div>
                            <div style="height: 137px; width: 100%; float: left; background-color: white;position: absolute;top: 200px;left: 0px;"></div>
                        </div>
{#                    </div>#}
                </div>

                 <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 gray-background2 hidden-lg hidden-md hidden-xs visible-sm" style="margin-top: 130px">
{#                    <div class="row">#}
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="background-color: white; margin-top: 220px; margin-bottom: 40px;">
                            <div class="fancy-images">
                                <img  class="img-responsive" src="{{ STATIC_URL }}frontend/help_free_bottle.jpg" alt="bottles">
                            </div>
                        </div>
{#                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">#}
{#                             <div class="fancy-images" style="position: relative;z-index: 99;">#}
{#                                <img  class="img-responsive" src="{{ STATIC_URL }}frontend/new_bottle.png" alt="bottles">#}
{#                            </div>#}
{#                            <div style="height: 155px; width: 100%; float: left; background-color: white;position: absolute;top: 200px;left: 0px;"></div>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top: 20px;">
                    <form class="fancy-form" method="post" action="/free_bottle/">{% csrf_token %}
                        <div class="form-group black">
                            <h2 class="big-label">
                                Get Your <span class="red">FREE</span>  Bottle
                            </h2>
                            <p class="small" style="margin-top: 10px;">
                                Let us send you a <span class="red">FREE</span> bottle of E-Liquid, just tell us where to send it:
                            </p>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Your Full Name:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input type="text" class="form-control" required name="name">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">House Number:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input type="text" class="form-control" required name="hbn">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Street/Road:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input type="text" class="form-control" required name="street">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Town:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input type="text" class="form-control" required name="town">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">City:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input type="text" class="form-control" required name="city">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Postcode:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input type="text" class="form-control" required name="postcode">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">E-Mail:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input class="form-control" required type="email" name="email">
                                </div>
                            </div>
                             <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Cloud Size:</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                   <select id="cloud_size" class="form-control" name="cloud_size">
                                       <option selected>Select</option>
                                       <option value="1">BIG Cloud 30/70 PG/VG</option>
                                       <option value="2">Normal Cloud 70/30 PG/VG</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 3px;">
                                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Flavour: </label>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                   <select id="cloud_size" class="form-control" name="strength">
                                        <option>Select</option>
                                        <option value="Menthol" {% if product == 'Menthol' %}selected{% endif %}>The Sergeant Major (Menthol)</option>
                                        <option value="Apple" {% if product == 'Apple' %}selected{% endif %}>The  Bombardier (Apple)</option>
                                        <option value="Cola" {% if product == 'Cola' %}selected{% endif %}>Corporal Cola (Cola)</option>
                                        <option value="Coffee" {% if product == 'Coffee' %}selected{% endif %}>The Guardsman (Coffee)</option>
                                        <option value="Vanilla" {% if product == 'Vanilla' %}selected{% endif %}>Captain Classic (Vanilla)</option>
                                        <option value="Aniseed" {% if product == 'Aniseed' %}selected{% endif %}>Squadron Leader (Aniseed)</option>
                                        <option value="Blackcurrant" {% if product == 'Blackcurrant' %}selected{% endif %}>The Brigadier (Tobacco)</option>
                                        <option value="Orange" {% if product == 'Orange' %}selected{% endif %}>Squaddie's Spirit (Chocolate)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
{#                        <div class="form-group">#}
{#                            <p class="text-center">#}
{#                                (You will need to confirm your email)#}
{#                            </p>#}
{#                        </div>#}
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-lg btn-block" style="font-size: 22px;">
                                Get Your <strong>FREE</strong> Bottle Now
                            </button>
                        </div>
                    </form>

                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url}}" target="_blank" style="margin-left: 130px;">Share On Facebook</a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 gray-background2 hidden-lg hidden-md visible-xs hidden-sm">
{#                    <div class="row">#}
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="background-color: white; margin-top: 30px; margin-bottom: 30px;">
                            <div class="fancy-images">
                                <img  class="img-responsive" src="{{ STATIC_URL }}frontend/help_free_bottle.jpg" alt="bottles">
                            </div>
                        </div>
{#                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">#}
{#                             <div class="fancy-images" style="position: relative;z-index: 99;">#}
{#                                <img  class="img-responsive" src="{{ STATIC_URL }}frontend/new_bottle.png" alt="bottles">#}
{#                            </div>#}
{#                            <div style="height: 155px; width: 100%; float: left; background-color: white;position: absolute;top: 200px;left: 0px;"></div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
{#        </div>#}
    </div>

    <script src="{{ STATIC_URL }}scripts.js"></script>
    {% if show_age_dialog %}
        <script type="application/javascript">
          $('#ageModal').modal('show')
        </script>
    {% endif %}
{% endblock %}