{%extends "general.html"%}

{% load i18n%}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
{% endblock %}

{%block content%}
    {{ block.super }}
    <!-- FIXED BAR -->

{#    <div class="fixed-bar">#}
{#        <h4 class="text-center text-banner">Get Your <strong>FREE</strong> Bottle Now#}
{#            <a href="" class="fixed-btn">#}
{#                <img src="{{ STATIC_URL }}frontend/banner-btn.png"/>#}
{#            </a>#}
{##}
{#            <a class="big-btn2 red-btn" href="/free_bottle">Click Here</a>#}
{#        </h4>#}
{#    </div>#}

    <!-- /FIXED BAR -->

    <header id="header">
        <div class="container">
            <div class="menu left">
                <ul>
                     <li><a href="/">Home</a></li>
                    <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li><a href="/diy_liquid">Ingredients</a></li>
                </ul>
            </div>
          <div class="menu menu-separator"></div>
            <div class="logo hidden-xs hidden-sm visible-md visible-lg"><a><img src="{{ STATIC_URL }}frontend/logo.png" class="img-responsive"/></a></div>
            <div class="logo hidden-xs visible-sm hidden-md hidden-lg"><a><img src="{{ STATIC_URL }}frontend/little-logo.png" class="img-responsive"/></a></div>
            <a href="#" role="menu-btn" class="menu-btn index-menu-btn pull-right" title="">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <div class="menu right index-menu">
                <ul>
                    <li class="mobile-item"><a href="/">Home</a></li>
                    <li class="mobile-item"><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/diy_liquid">Ingredients</a></li>
                    <li><a href="/devices">Devices</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    {% if not is_logged_in %}<li><a href="/accounts/login">Log In</a></li>{% else %}<li><a href="/accounts/logout">Logout</a></li>{% endif %}
{#                    <li><a href="http://lambertsmokingliquid.co.uk/uk_blog/">Blog</a></li>#}
                </ul>
            </div>
        </div>
    </header>

    <div class="banner_img">
        <div class="banner">
            <a href="/eliquid-10ml/"><img src="{{ STATIC_URL }}frontend/banner_x.jpg" width="100%" class="hidden-xs" /> </a>
            <a href="/eliquid-10ml/"><img src="{{ STATIC_URL }}frontend/banner-mobile.jpg" width="100%" class="visible-xs" /></a>
        </div>
    </div>
    <div class="clear"></div>

    <div class="container">
     <div class="col-xs-12 hidden-sm hidden-md hidden-lg visible-xs">
                <div class="made_in_ukimg text-center">
                    <img src="{{ STATIC_URL }}frontend/help_free_bottle.jpg" class="img-responsive"/>
                </div>
            </div>
    </div>
    
{#        <div class="banner-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">#}
{#                    <div class="product-img"><img src="{{ STATIC_URL }}frontend/banner-bottles.png" alt="Product Image" class="img-responsive"></div>#}
{#                </div>#}
{#                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-lg-push-4 col-md-push-4 col-sm-push-4">#}
{#                    <div class="product-img"><img src="{{ STATIC_URL }}frontend/round-badges.png" alt="Product Image" class="img-responsive"></div>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-pull-4 col-md-pull-4 col-sm-pull-4">#}
{#                    <div class="banner-buttons">#}
{#                        <div class="btn-wrapper vertical">#}
{#                            <p class="big-btn red-btn">£2.99 per Bottle</p>#}
{#                            <span>or</span>#}
{#                            <p class="big-btn red-btn">4 Bottles for £10</p>#}
{#                        </div>#}
{#                        {% if not is_logged_in %}#}
{#                            <a class="big-btn green-btn text center" href="/order_now">ORDER NOW</a>#}
{#                        {% else %}#}
{#                            <a class="big-btn green-btn text center" href="/usersadmin/order_now">ORDER NOW</a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="banner-links">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
{#                        <ul class="list-inline">#}
{#                            <li><i class="white-bullet"></i><p class="big-white-link">Smoking Liquid</p></li>#}
{#                            <li><i class="white-bullet"></i><p class="big-white-link">E-Liquid</p></li>#}
{#                            <li><i class="white-bullet"></i><p class="big-white-link">Vaping Juice</p></li>#}
{#                            <li><i class="white-bullet"></i><p class="big-white-link">E-Cigarettes</p></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <div class="color_section2">
        <div class="container">
{#            <div class="wel_title123">#}
{#                <span style="color:#FFFFFF">Some More Valued Feedback ...</span>#}
{#            </div>#}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section_box2">
                        <div class="section_box2_img">
                            <img src="{{ STATIC_URL }}frontend/post2.jpg" class="img-responsive"/>
                        </div>
                        <div class="section_box2_rght">
                            <div class="section_box2_desc">Good E-Liquid, fair price and another way to support a good cause.</div>
                            <div class="section_box2_title">Dominic Anderson<p>Essex UK</p></div>
                            <div class="section_box2_star">
                                <img src="{{ STATIC_URL }}frontend/star.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section_box2">
                        <div class="section_box2_img">
                            <img src="{{ STATIC_URL }}frontend/post3.jpg" class="img-responsive"/>
                        </div>
                        <div class="section_box2_rght">
                            <div class="section_box2_desc">Buying my E-Liquid this way is so much more convenient and Im saving money too</div>
                            <div class="section_box2_title">Amanda Reed<p>Cardiff Wales</p></div>
                            <div class="section_box2_star"><img src="{{ STATIC_URL }}frontend/star2.jpg" /></div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="clear"></div>

        </div> <!-- /.container -->
    </div>

    <div class="container">
        <div class="wel_title">Made in the UK…</div>
        <div class="row made_in_uk">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <p>
                   HEROES vape produces and distributes eliquids and eliquid supplies to Vapers throughout the UK, we only supply quality liquids made from approved ingredients which is why you can trust us to deliver what you need when you need it. 
                </p>
                <p>
                    As an ALL OR NOTHING social business we take our social responsibility very seriously, the team here have always been long term supporters of Help for Heroes so it was an easy decision to choose them as our charity of the year and the recipient of 100% of our profits
. Through our long term charitable contribution we aim to inspire greater generosity by demonstrating a better way of doing business.
                </p>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="made_in_ukimg text-center">
                    <img src="{{ STATIC_URL }}frontend/made_uk.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper"><img src="{{ STATIC_URL }}frontend/footer-logo.jpg" alt="" class="img-responsive"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="footer_addr">HV<br>
                            Armstrong House<br>
                            First Avenue<br>
                            Robin Hood Airport<br>
                            Doncaster<br>
                            South Yorkshire<br>
                            DN9 3GA</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter"><a href="https://twitter.com/heroesvape"><img src="{{ STATIC_URL }}frontend/twitter-foo.jpg" /></a></div>
                        <div class="ftr_facebook"><a href="https://www.facebook.com/Heroes-vape-208574059328157"><img src="{{ STATIC_URL }}frontend/facebook-foo.jpg" /></a></div>
                        <div class="ftr_mail"><a href="/contact_us/"><img src="{{ STATIC_URL }}frontend/mail-foo.jpg" /></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                            <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                            <li><a href="/diy_liquid">Ingredients</a></li>
                            <li><a href="/devices">Devices</a></li>
                            <li><a href="/about_us" class="hidden-xs">About Us</a></li>
                            <li><a href="/contact_us" class="hidden-xs">Contact Us</a></li>
                            <li><a href="/uk_blog" class="hidden-xs">Blog</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 HEROESvape.uk. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script src="{{ STATIC_URL }}scripts.js"></script>
    <script src="{{ STATIC_URL }}main.js"></script>
    {% if show_age_dialog %}
        <script type="application/javascript">
          $(document).ready(function(){
              $('#ageModal').modal('show');
          });
        </script>
    {% endif %}

{%endblock%}