{%extends "general.html"%}

{% load i18n%}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
{% endblock %}

{%block content%}
    {{ block.super }}


      <header id="header">
        <div class="container">
            <div class="menu left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li><a href="/diy_liquid">Ingredients</a></li>
                </ul>
            </div>
        <div class="menu menu-separator"></div>
            <div class="logo"><a><img src="{{ STATIC_URL }}frontend/logo.png" /></a></div>
            <a href="#" role="menu-btn" class="menu-btn index-menu-btn pull-right" title="">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <div class="menu right index-menu">
                <ul>
                    <li class="mobile-item"><a href="/">Home</a></li>
                    <li class="mobile-item"><a href="/eliquid-10ml">10ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/eliquid-30ml">30ml E Liquid</a></li>
                    <li class="mobile-item"><a href="/diy_liquid">Ingredients</a></li>
                    <li><a href="/devices">Devices</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    {% if not is_logged_in %}<li><a href="/accounts/login">Log In</a></li>{% else %}<li><a href="/accounts/logout">Logout</a></li>{% endif %}
{#                    <li><a href="http://lambertsmokingliquid.co.uk/uk_blog/">Blog</a></li>#}
                </ul>
            </div>
        </div>
    </header>



        <div class="container needed-margin">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
                <h2 class="jumbo-text text-center" style="width: 100%;">E-Liquid&hellip;</h2>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="page-text">
                    Our liquid comes in 8 different flavours and five different strengths (0 mg, 3 mg, 6 mg, 12 mg, 18 mg, nicotine) so no matter what your preference, we've got you covered.
                </p>
                <div class="btn-wrapper hidden-xs hidden-sm hidden-md" style="display: inline-flex; width: 900px; margin-left: 100px;">
                    <p class="big-btn red-btn2" >£2.99 per Bottle</p>
                    <span>or</span>
                    <p class="big-btn red-btn2" >4 Bottles for £10</p>
                    <span>+</span>
                    <p class="big-btn blue-btn2" >FREE Delivery</p>

                </div>

                <div class="btn-wrapper display-xs display-sm display-md hidden-lg">
                    <p class="big-btn red-btn2" >£2.99 per Bottle</p>
                    <span>or</span>
                    <p class="big-btn red-btn2" >4 Bottles for £10</p>
                    <span>+</span>
                    <p class="big-btn blue-btn2" >FREE Delivery</p>

                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row well">
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/commando.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%;" src="{{ STATIC_URL }}/frontend/commando.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/commando-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">The Sergeant Major</h4>
                                <p class="small">Just Like a Sergeant Major This Menthol Flavoured Liquid Has a Very Distinctive Presence (10ml).</p>
                                <div class="strength-level">
                                    <label for="cloud-menthol">Cloud Size: </label>
                                    <select id="cloud-menthol" name="Menthol" parent_select="strength-menthol" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-menthol">Strength: </label>
                                    <select id="strength-menthol" class="form-control" onchange="check_availability($(this))">
                                        <option selected>Select</option>
                                        {% for f in menthol %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block" style="cursor: pointer" role="button" rel-select="strength-menthol" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/general.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%;" src="{{ STATIC_URL }}/frontend/general.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/general-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">The Brigadier</h4>
                                <p class="small">This Tobacco Flavoured Liquid Demands Both Respect and Admiration (10ml).</p>
                                <div class="strength-level">
                                 <label for="cloud-currant">Cloud Size: </label>
                                    <select id="cloud-currant" name="Tobacco" parent_select="strength-fruit" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-fruit">Strength: </label>
                                    <select id="strength-fruit" class="form-control" onchange="check_availability($(this))">
                                        <option selected>Select</option>
                                         {% for f in currant %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block" style="cursor: pointer" role="button" rel-select="strength-fruit" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/sniper.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%;" src="{{ STATIC_URL }}/frontend/sniper.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/sniper-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">The  Bombardier</h4>
                                <p class="small">This Inspiring Apple Flavoured Liquid Hits The Spot Every Time (10ml).</p>
                                <div class="strength-level">
                                   <label for="cloud-apple">Cloud Size: </label>
                                    <select id="cloud-apple" name="Apple" parent_select="strength-apple" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-apple">Strength: </label>
                                    <select id="strength-apple" class="form-control" onchange="check_availability($(this))">
                                       <option selected>Select</option>
                                         {% for f in apple %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block" style="cursor: pointer" role="button" rel-select="strength-apple" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/yomp.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%;" src="{{ STATIC_URL }}/frontend/yomp.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/yomp-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">The Guardsman</h4>
                                <p class="small">This Coffee Flavoured Liquid Keeps You Sharpe And Ready For Anything (10ml).</p>
                                <div class="strength-level">
                                    <label for="cloud-coffee">Cloud Size: </label>
                                    <select id="cloud-coffee" name="Coffee" parent_select="strength-coffee" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-coffee">Strength: </label>
                                    <select id="strength-coffee" class="form-control" onchange="check_availability($(this))">
                                       <option selected>Select</option>
                                         {% for f in coffee %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block" style="cursor: pointer" role="button" rel-select="strength-coffee" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/vanilla.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%;" src="{{ STATIC_URL }}/frontend/vanilla.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/vanilla-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">Captain Classic</h4>
                                <p class="small">This Vanilla Flavoured Classic is a Firm Favorite With Its Smooth Undertone (10ml).</p>
                                <div class="strength-level">
                                    <label for="cloud-vanilla">Cloud Size: </label>
                                    <select id="cloud-vanilla" name="Vanilla" parent_select="strength-vanilla" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-vanilla">Strength: </label>
                                    <select id="strength-vanilla" class="form-control" onchange="check_availability($(this))">
                                       <option selected>Select</option>
                                         {% for f in coffee %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block" style="cursor: pointer" role="button" rel-select="strength-vanilla" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/aniseed.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%;" src="{{ STATIC_URL }}/frontend/aniseed.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/aniseed-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">Squadron Leader</h4>
                                <p class="small">This Aniseed Flavoured Liquid Leads The Way When it Comes to Flavour Distinction (10ml).</p>
                                <div class="strength-level">
                                    <label for="cloud-aniseed">Cloud Size: </label>
                                    <select id="cloud-aniseed" name="Aniseed" parent_select="strength-aniseed" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-aniseed">Strength: </label>
                                    <select id="strength-aniseed" class="form-control" onchange="check_availability($(this))">
                                       <option selected>Select</option>
                                         {% for f in coffee %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block" style="cursor: pointer" role="button" rel-select="strength-aniseed" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/d-day.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%" src="{{ STATIC_URL }}/frontend/d-day.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/d-day-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">Corporal Cola</h4>
                                <p class="small">This Cola Infused Liquid Represents Historic Tradition Within The Ranks (10ml).</p>
                                <div class="strength-level">
                                  <label for="cloud-cola">Cloud Size: </label>
                                    <select id="cloud-cola" name="Cola" parent_select="strength-cola" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-cola">Strength: </label>
                                    <select id="strength-cola" class="form-control" onchange="check_availability($(this))">
                                        <option selected>Select</option>
                                         {% for f in cola %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block" style="cursor: pointer" role="button" rel-select="strength-cola" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="flavour-item">
                            <div class="flavour-image">
                                <img class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="margin-left: 16%;" src="{{ STATIC_URL }}/frontend/spirit.png" alt="">
                                <img class="img-responsive hidden-xs visible-sm visible-md hidden-lg" style="margin-left: 3%;" src="{{ STATIC_URL }}/frontend/spirit.png" alt="">
                                <img class="img-responsive hidden-xs hidden-sm hidden-md visible-lg" src="{{ STATIC_URL }}/frontend/spirit-long.png" alt="">
                            </div>
                            <div class="flavour-description">
                                <h4 class="name">Squaddie's Spirit</h4>
                                <p class="small">This Cheeky Chocolate Flavoured Liquid Represents a Squaddies Spirit Perfectly (10ml).</p>
                                <div class="strength-level">
                                 <label for="cloud-orange">Cloud Size: </label>
                                    <select id="cloud-orange" name="Chocolate" parent_select="strength-orange" class="form-control" onchange="get_flavours_from_cloud_group($(this))">
                                        <option selected>Select</option>
                                        {% for key,value in cloud_groups.iteritems %}
                                        <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="strength-orange">Strength: </label>
                                    <select id="strength-orange" class="form-control" onchange="check_availability($(this))">
                                       <option selected>Select</option>
                                        {% for f in orange %}
                                        {% if f.cloud_category == '1' %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text2}})  {% endif %}</option>
                                        {% else %}
                                            <option value="{{ f.id }}">{{ f.product_strength.display_name }}  {% if not f.stock_qty %} - Out Of Stock {% else %} - ({{f.product_strength.marketing_text}})  {% endif %}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn btn-success btn-block add_button" style="cursor: pointer" role="button" rel-select="strength-orange" onclick="add2cart($(this),1)"> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div role="alert" class="site-alerts alert alert-success fade in" id="message" style="display: none">
                <button type="button" class="close" onclick="$('#error_message').hide()">&times;</button><strong>The product was successfully added.</strong>
            </div>
                <div class="cart-list">
                    <h2 class="text-center">Your Basket.</h2>
                    <ol>
                    {% if selected_flavours|length > 0 or additional|length > 0 or selected_flavours2|length > 0%}
                        {% for key, item_name in selected_flavours.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}

                        {% for key, item_name in selected_flavours2.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}

                        {% for key, item_name in additional.iteritems %}
                            <li class="cart-item" id="li-{{ key }}"><span class="badge"><a style="cursor: pointer" onclick="remove_from_cart('{{ key }}')"><span class="glyphicon glyphicon-remove"></span></a></span>{{ item_name.name }}<span style="font-weight: bold"> <br>(£{{item_name.price}} each - Quantity {{ item_name.count }})</span></li>
                        {% endfor %}
                    {% else %}
                        <h4 style="color: #002060;text-align: center"> Your Basket Is Empty</h4>
                    {% endif %}
                    </ol>
                    <p class="total-cost"><strong>Total Cost:</strong> <span id="cart_total">{% if cart_total %} £{{ cart_total }} {% else %} £0 {% endif %}</span></p>
                    <p class="total-delivery"><strong>Delivery Cost:</strong> £<span id="cart_delivery">{% if delivery_cost %} {{ delivery_cost }} {% else %} 0.00 {% endif %}</span></p>
                    <p class="total-cost"><strong>Voucher Number:</strong> <input id="input_code" type="text" maxlength="6" name="discount_code" style="width: 100px;" {% if valid_code %} value="{{ code }}" {% endif %} onkeyup="validate_code()" onblur="validate_code()" onchange="validate_code()"><img id="img_valid_code" src="{{ STATIC_URL }}/frontend/tick.png" class="image-responsive" style="margin-left: 5px; {% if not valid_code %}display: none{% endif %}"><a style="cursor: pointer;text-decoration: none;" onclick="validate_code()"> Click to apply</a></p>
                    <p id="total_saving" class="total-cost"><strong>Total Saving:</strong> <span {% if valid_code %} style="color:#002060; font-size: x-large"{% endif %}> £{{ total_saving }} </span></p>
                    <input id="valid_code" type="hidden" value="0">
                    <div class="text-center">
                        <a id="procced_button" href="/order_now2" role="button" class="btn btn-success btn-lg" {% if selected_flavours|length == 0 %} disabled="disabled" {% endif %}>Click to Proceed&hellip;</a>
                    </div>
                </div>
                <div class="btn-wrapper floated" style="margin-bottom: 0px;">
{#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
                    <img src="{{ STATIC_URL }}/frontend/free_uk_delivery.jpg" class="img-responsive">
                </div>
                <div class="btn-wrapper floated">
{#                    <a class="big-btn red-btn text-center btn-block" href="">FREE<br>Delivery</a>#}
                    <img src="{{ STATIC_URL }}/frontend/help_free_bottle_short.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>


    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper"><img src="{{ STATIC_URL }}frontend/footer-logo.jpg" alt="" class="img-responsive"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="footer_addr">HV<br>
                            Armstrong House<br>
                            First Avenue<br>
                            Robin Hood Airport<br>
                            Doncaster<br>
                            South Yorkshire<br>
                            DN9 3GA</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter"><a href="https://twitter.com/heroesvape"><img src="{{ STATIC_URL }}frontend/twitter-foo.jpg" /></a></div>
                        <div class="ftr_facebook"><a href="https://www.facebook.com/Heroes-vape-208574059328157"><img src="{{ STATIC_URL }}frontend/facebook-foo.jpg" /></a></div>
                        <div class="ftr_mail"><a href="/contact_us/"><img src="{{ STATIC_URL }}frontend/mail-foo.jpg" /></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/eliquid-10ml">10ml E Liquid</a></li>
                            <li><a href="/eliquid-30ml">30ml E Liquid</a></li>
                            <li><a href="/diy_liquid">Ingredients</a></li>
                            <li><a href="/devices">Devices</a></li>
                            <li><a href="/about_us" class="hidden-xs">About Us</a></li>
                            <li><a href="/contact_us" class="hidden-xs">Contact Us</a></li>
                            <li><a href="/uk_blog" class="hidden-xs">Blog</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 HEROESvape.uk. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <script src="{{ STATIC_URL }}scripts.js"></script>
    <script src="{{ STATIC_URL }}frontend.js"></script>
    {% if show_age_dialog %}
        <script type="application/javascript">
          $('#ageModal').modal('show')
        </script>
    {% endif %}






{% endblock %}