{% extends "general_user.html" %}

{% block css %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style-others.css">
{% endblock %}

{% load i18n %}

{% block middle_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 120px;">
                <div  style="min-height: 200px;">

                    <p class="small-text" style="font-family: mygoticReg,sans-serif;font-size: 18px;">Your Address Has Been Removed...</p>
                    <p class="small-text" style="font-family: mygoticReg,sans-serif;font-size: 18px;"><span> <a href="/">Click here</a> to continue.</span></p>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}scripts.js"></script>
{% endblock %}

