body {background: #0A0A0A url('assets/blackorchid.png') repeat; padding:0; margin:0; }
#line {width:100%; height:10px; background:#181717; border-bottom:1px solid #424242; }
#background { background:url('../assets/loginbg.png') 50% 0 no-repeat; padding-top:170px; }
#container {width:960px; margin:0 auto; }
#logo {width:600px; margin:0 auto; text-align:center; margin-bottom:20px; }
.fieldset {
	/*-moz-box-shadow: 0px 0px 5px #ccc; -webkit-box-shadow: 0px 0px 5px #ccc; box-shadow: 0px 0px 5px #ccc; */
	box-shadow: none;
	border-radius: 0px;
}
#box input.field {font-family: Verdana,"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif; font-size:16px; padding:10px 10px; width:235px; }
input.login {float:right; }
#box label.fix {top:-5px; }