@import "./jquery_ui_uniq.css";
/* --- 1. CSS RESET --- */

#categoryList {background-color: #EEEEEE; padding: 3px; border: 1px solid #999999; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; }
#categoryList .item, #categoryList .clicked, #categoryList .blocked, #categoryList .parent {padding-left: 3px; font-weight: bold; border: 1px solid #999999; }
#categoryList .item {background-color: #ccc; }
#categoryList .clicked {background-color: #FFEB90; }
#categoryList .blocked {background-color: #FEE3E3; }
#categoryList .parent {}
.treeLink { text-decoration: none; }
.treeLink:hover { color: #00a; }
.treeContain {
	overflow: auto; max-height: 300px; height: 300px; border: 1px solid #CCC; padding: 8px; width: 400px;
	margin-bottom: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.signout {
	background:url('assets/login_bg_stripe.png') repeat; position: fixed; right: 0px; z-index: 10; left: 55px;
	color: white; left: 197px; text-align: right; padding: 0px 10px;
}
.signout span {
	cursor: pointer;
}
.signout span:hover{ COLOR: #FFA000; }

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,address,code,del,dfn,em,img,q,
dl,dt,dd,ol,ul,li,
table,caption,tbody,tfoot,thead,tr,th,td,br,fieldset,textarea{font-family:Verdana,"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;line-height:20px;letter-spacing:.1px;word-spacing:1px;margin:0;padding:0;border:0;
}
//h1,h2,h3,h4,h5,h6,hr,p,ul,ol,dl,pre,address,table,form{margin:0 0 20px}
p,h1, h2, h3, h4, h5, h6, ul.check_list, ul.arrowlist{padding-left:2px;}
strong, b{font-weight:bold;}
em, dfn, i{font-style:italic;}
a, input { outline: none; }

body {color:#555; font-size:12px; background:#f0f0f0; padding: 0px !important; margin: 0px !important; }
hr {clear:both; float:left; width:100%; margin-top:15px; margin-bottom:20px; border:0; height:0px; border-top:1px solid #e5e5e5; border-bottom:1px solid #f4f4f4; }
fieldset hr, .fieldset hr {border-bottom:1px solid #fff; }
h1 {color::#333; font-size:21px; clear:both; }
h2 {color:#333; font-size:18px; }
h5 {text-transform:uppercase; font-size:16px; margin-bottom:15px; }
h1 span { color: #1a1a1a; }
#container { width: 100%; }
#bgwrap {position:relative; margin-left: 200px; padding-left: 10px; }
#left_navbar { position: fixed; height: 100%;
 	background:url('./assets/stripe.png') fixed -18px 0 repeat-y;
}
#primary_left {clear:both; float:left; width:230px; position:relative; }
#menu ul {list-style-type:none; }
#menu ul li {clear:both; float:left; background:url('./assets/menu_spacer.png') -12px 100% no-repeat; width:202px; padding:3px 0; }
#menu ul li.nobg {background:none; }
#menu ul li a {clear:both; float:left; text-decoration:none; color:#bbb; padding-left:2px; height:40px; }
#menu ul li a img {clear:both; float:left; width:32px; height:32px; margin:4px; }
#menu ul li a span {text-transform:uppercase; font-size:12px; text-shadow:1px 1px #000; float:left; width:195; padding:10px 10px 7px 10px; font-family:Arial, Helvetica, sans-serif; }
#menu ul li.current a span {background:url('./assets/menu_arrow.png')  100% 50% no-repeat; color:#fff; margin-left:5px; text-shadow:#0A5482 1px 1px 0px; }
#menu ul li.current a span {margin-left:5px!important; width: 171px; font-weight: bold; }
#menu ul li a:hover span {color:#fff; }
#menu ul li.current a {}

.loading_img {position: absolute; float: right; height: 25px; width: 25px; right: 10px; margin-top: 7px; display: none; }
#menu ul li.current {background:url('./assets/menu_current.png') top right no-repeat; }
#menu ul li.current li a {}
#menu ul ul {clear:both; float:left; width:175px; display:inline; padding:10px 0 10px 30px; margin-bottom:3px; }
#menu ul ul li {}
#menu ul ul li, #menu ul ul li a {background:none; height:auto!important; font-size:11px; }
#menu ul ul li a {clear:both; float:left; width:140px; padding:3px; text-shadow:1px 1px #000!important; }
#menu ul ul li a:hover {color:#fff; }
#primary_right {min-height:1000px;
margin-right: 10px; }
#primary_right .inner {clear:both; padding: 15px 0px 20px 15px; position:relative; padding-left: 0px; }
.success {border-top: 1px solid #edf7d0; border-bottom: 1px solid #b7e789; background: #dff3a8; background: -moz-linear-gradient(top,#dff3a8,#c4fb92); background: -webkit-gradient(linear, left top, left bottom, from(#dff3a8), to(#c4fb92)); }
.success:before {content: url(./assets/icons/notifications/success.png); float: left; margin: 10px 15px 0px 15px; }
.success strong {color: #61b316; margin-right: 15px; }
.warning {border-top: 1px solid #fefbcd; border-bottom: 1px solid #e6e837; background: #feffb1; background: -moz-linear-gradient(top,#feffb1,#f0f17f); background: -webkit-gradient(linear, left top, left bottom, from(#feffb1), to(#f0f17f)); }
.warning:before {content: url(./assets/icons/notifications/warning.png); float: left; margin: 2px 15px 0px 25px; }
.warning strong {color: #e5ac00; margin-right: 15px; }
.tip {border-top: 1px solid #fbe4ae; border-bottom: 1px solid #d9a87d; background: #f9d9a1; background: -moz-linear-gradient(top,#f9d9a1,#eabc7a); background: -webkit-gradient(linear, left top, left bottom, from(#f9d9a1), to(#eabc7a)); }
.tip:before {content: url(./assets/icons/notifications/tip.png); float: left; margin: 7px 15px 0px 15px; }
.tip strong {color: #b26b17; margin-right: 15px; }
.error {border-top: 1px solid #f7d0d0; border-bottom: 1px solid #c87676; background: #f3c7c7; background: -moz-linear-gradient(top,#f3c7c7,#eea2a2); background: -webkit-gradient(linear, left top, left bottom, from(#f3c7c7), to(#eea2a2)); }
.error:before {content: url(./assets/icons/notifications/error.png); float: left; margin: 7px 15px 0px 15px; }
.error strong {color: #b31616; margin-right: 15px; }
.secure {border-top: 1px solid #efe0fe; border-bottom: 1px solid #d3bee9; background: #e5cefe; background: -moz-linear-gradient(top,#e5cefe,#e4bef9); background: -webkit-gradient(linear, left top, left bottom, from(#e5cefe), to(#e4bef9)); }
.secure:before {content: url(./assets/icons/notifications/secure.png); float: left; margin: 5px 15px 0px 15px; }
.secure strong {color: #6417b2; margin-right: 15px; }
.info {border-top: 1px solid #f3fbff; border-bottom: 1px solid #bedae9; background: #e0f4ff; background: -moz-linear-gradient(top,#e0f4ff,#d4e6f0); background: -webkit-gradient(linear, left top, left bottom, from(#e0f4ff), to(#d4e6f0)); }
.info:before {content: url(./assets/icons/notifications/info.png); float: left; margin: 5px 15px 0px 21px; }
.info strong {color: #177fb2; margin-right: 15px; }
.message {border-top: 1px solid #f4f4f4; border-bottom: 1px solid #d7d7d7; background: #f0f0f0; background: -moz-linear-gradient(top,#f0f0f0,#e1e1e1); background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e1e1e1)); }
.message:before {content: url(./assets/icons/notifications/message.png); float: left; margin: 12px 15px 0px 15px; }
.message strong {color: #323232; margin-right: 15px; }
.download {border-top: 1px solid #ffffff; border-bottom: 1px solid #eeeeee; background: #f7f7f7; background: -moz-linear-gradient(top,#f7f7f7,#f0f0f0); background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f0f0f0)); }
.download:before {content: url(./assets/icons/notifications/download.png); float: left; margin: 3px 15px 0px 18px; }
.download strong {color: #037cda; margin-right: 15px; }
.purchase {border-top: 1px solid #d1f7f8; border-bottom: 1px solid #8eabb1; background: #c4e4e4; background: -moz-linear-gradient(top,#c4e4e4,#97b8bf); background: -webkit-gradient(linear, left top, left bottom, from(#c4e4e4), to(#97b8bf)); }

.purchase:before {content: url(./assets/icons/notifications/purchase.png); float: left; margin: 6px 15px 0px 15px; }

.purchase strong {color: #426065; margin-right: 15px; }
.print {border-top: 1px solid #dde9f3; border-bottom: 1px solid #8fa6b2; background: #cfdde8; background: -moz-linear-gradient(top,#cfdde8,#9eb3bd); background: -webkit-gradient(linear, left top, left bottom, from(#cfdde8), to(#9eb3bd)); }
.print:before {content: url(./assets/icons/notifications/print.png); float: left; margin: 6px 15px 0px 15px; }
.print strong {color: #3f4c6b; margin-right: 15px; }
.notification_nclk {cursor: pointer; width: auto; display: block; position: relative; padding: 10px 20px 20px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 1px 1px 0px #999; -webkit-box-shadow: 1px 1px 0px #999; box-shadow: 1px 1px 0px #999; margin-bottom: 30px; }
.notification_nclk .text {overflow: hidden; }

.notification_nclk p {width: auto; color: #555; text-align: justify; float: left; margin-right: 15px; *margin-top: 15px;  margin-bottom:0!important; padding-top:12px; }
.notification_nclk strong {font-size: 16px; }
.notification {cursor: pointer; width: auto; display: block; position: relative; padding: 10px 20px 20px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 1px 1px 0px #999; -webkit-box-shadow: 1px 1px 0px #999; box-shadow: 1px 1px 0px #999; margin-bottom: 30px; }
.notification .text {overflow: hidden; }

.notification p {width: auto; color: #555; text-align: justify; float: left; margin-right: 15px; *margin-top: 15px;  margin-bottom:0!important; padding-top:12px; }
.notification strong {font-size: 16px; }
.success {border-top: 1px solid #edf7d0; border-bottom: 1px solid #b7e789; background: #dff3a8; background: -moz-linear-gradient(top,#dff3a8,#c4fb92); background: -webkit-gradient(linear, left top, left bottom, from(#dff3a8), to(#c4fb92)); }
.success:before {content: url(./assets/icons/notifications/success.png); float: left; margin: 10px 15px 0px 15px; }
.success strong {color: #61b316; margin-right: 15px; }
ul.dash {list-style-type:none; }
ul.dash li {
	float:left; margin:0 15px 15px 0; width:100px; height:100px; position:relative; z-index:80; border:1px solid #fff;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 1px 1px 0px #999; -webkit-box-shadow: 1px 1px 0px #999; box-shadow: 1px 1px 0px #999;
	background:#fbfbfb;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
}
.selected {border:2px solid #e6791c!important; box-shadow:none!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important; }
ul.dash li:hover {cursor:hand; }
ul.dash li a {text-decoration:none; clear:both; float:left; width:100px; height:100px; }
ul.dash li a img {clear:both; float:left; display:inline; margin:10px 0 5px 18px; }
ul.dash li a span {clear:both; float:left; width:100%; text-align:center; color:#666; font-size:11px; }
ul.dash li .bubble {
	position:absolute; font-size:9px; padding:1px 6px 1px 3px; line-height:12px; font-weight:bold; letter-spacing:-1px; top:-7px; right:-8px;
	color:#fff; z-index:90; border:1px solid #b20606; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; background:#ff2e2e;
	background: -moz-linear-gradient(top,#ff2e2e,#c80606); background: -webkit-gradient(linear, left top, left bottom, from(#ff2e2e), to(#c80606));
}
.clearboth {clear:both; }
table.fancy {border-top:2px solid #333; margin-bottom:20px; border-bottom:1px solid #f4f4f4; }
table.fancy th {
	color:#666; text-transform:uppercase; font-size:13px; padding:10px 20px; vertical-align:middle;
	background:#f5f5f5; font-family:Arial, Helvetica, sans-serif; border-top:1px solid #f4f4f4;
}
table.fancy td {
	line-height:20px; padding:10px 20px; font-size:11px; border-bottom:1px solid #e5e5e5;
	border-top:1px solid #f4f4f4; text-align:center;
}
table.normal {
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999;
	border-top: 1px solid #ccc; border-left: 1px solid #ccc;
}
table.fullwidth {width:100%; }
table.normal td {padding:5px 15px; }
table.normal thead th {
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5); background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	font-weight: bold; border-bottom:1px solid #ccc; text-shadow:-1px -1px #fff;
	padding:5px 15px; text-align:left;
}
table.normal thead th:hover {
	//cursor:pointer;
}
table.normal tbody {border-top:1px solid #fff; background:#f4f4f4; }
table.normal tbody tr.odd td {background:#fafafa; }
table.normal tbody td {font-size:11px; vertical-align:middle; }
fieldset, .fieldset {
	border:1px solid #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 4px #999; box-shadow: 1px 1px 4px #999; padding:20px 20px 0 20px; background:#fbfbfb;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5); background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
    //width: 100%;
    margin-bottom:15px;
    margin-right: 15px;
}
table tfoot {background:#fafafa; }
table tfoot td {
	border-top:1px solid #fff; background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
}
fieldset legend, .fieldset legend {
	border:1px solid #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 0px #999; -webkit-box-shadow: 1px 1px 0px #999; box-shadow: 1px 1px 0px #999;
	background:#fbfbfb; background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	padding:5px 20px; text-transform:uppercase; font-size:11px;
}
input, select, textarea {
	color: #555;
	font-family: Verdana,arial;
	font-size: 11px;
	margin-right: 15px;
	padding: 9px 4px;
	border: 1px solid #DDD;
	background: #FEFEFE;
}
select option {padding:6px 10px; }
input.sf {width:180px; }
input.mf {width:270px; }
input.lf {width:360px; }
input[type="radio"], input[type="checkbox"] {margin-right:5px; font-size:10px; }
.validate_success { color:#739F1D; }
.validate_error { color:red; }
fieldset p {}
input[type="checkbox"] + label {display: block; height: 16px; }
p label {display:inline-block; width:150px; font-size:11px; vertical-align:middle; }
label.fix {position:relative; top:-7px; }
.field_desc {color:#bbb; font-style:italic; }
a.table_icon{
	margin-right:5px; padding:5px;// 5px 0px 5px; border:1px solid #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	-moz-box-shadow: 1px 1px 0px #999; -webkit-box-shadow: 1px 1px 0px #999; box-shadow: 1px 1px 0px #999;
	background: #f5f5f5; background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	text-decoration: none; font-weight:bold;
}
a.button_link, input[type="submit"],input[type="button"], input[type="reset"], .ui-dialog .ui-dialog-buttonpane button, .paginate_icon, a.button_link_clicked {
	color:#fff;
    text-decoration: none;
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-shadow:0 1px 1px #0c507b;
	letter-spacing:0px;
	text-transform:uppercase;
	padding:8px 6px 6px 6px;
	margin:0 10px 5px 0;
	background: #3aa3e6;
	background: -moz-linear-gradient(top, #87c6ee, #3aa3e6 2%, #028fe8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87c6ee), color-stop(.01, #3aa3e6), to(#028fe8));
	border:1px solid #0082d5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	outline:none;
}
.ui-dialog .ui-dialog-buttonpane button {
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif!important;
	letter-spacing:0;
	font-weight:bold;
	display:inline-block;
}
a.button_link:hover, input[type="submit"]:hover,input[type="button"]:hover, input[type="reset"]:hover, .ui-dialog-buttonpane button:hover,a.button_link_clicked {
	text-shadow: 0 1px 1px #6f3a02;
	border:1px solid #e6791c;
	border-bottom:1px solid #d86f15;
	color:#fff;
	background: #f48423;
	background: -moz-linear-gradient(top, #ffdf9e, #f5b026 2%, #f48423);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd683), color-stop(.01, #f5b026), to(#f48423));
	cursor:pointer;
}
a.button_link_clicked:hover {
	color:#fff;
}
.column {display:block; min-height:50px;}
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }

#easyTooltip {
	position:relative; padding:10px 15px 10px 15px; color:#FFF; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;
	min-width:60px; text-shadow: 0 1px 1px #6f3a02; line-height:16px; z-index:100; border:1px solid #e6791c; border-bottom:1px solid #d86f15;
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; background: #f48423; background: -moz-linear-gradient(top, #ffdf9e, #f5b026 2%, #f48423);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd683), color-stop(.01, #f5b026), to(#f48423));
}
#easyTooltip:before {content:"\00a0"; display:block; position:absolute; bottom:-16px; left:46px; width:0; height:0; border:8px solid transparent; border-top-color:#b25708; }

#easyTooltip:after {content:"\00a0"; display:block; position:absolute; bottom:-14px; left:47px; width:0; height:0; border:7px solid transparent; border-top-color:#f48423; }

#loading_content {
	background-color: transparent;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0px;
	position: fixed;
	z-index: 102;
	display: none;
}
#loading_content table, #loading_content td {
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
table {border-spacing:0; }
.adiinviter_table {
	width: 100%;
}
.adiinviter_table td{
	//width:50%;
	vertical-align:top;
}
.adi_desc_table {
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #999999;
	text-align: left;
}
.adi_desc_table th {
	border-right:1px solid #999999;border-bottom:1px solid #999999;
	text-align:left; padding:4px;
}
.adi_desc_table td {
	border-right:1px solid #999999;
	text-align:left; padding:4px;
}
#templatePreview_mask {
	position: fixed;
}
#templatePreview_c {
	position: absolute;
}
a.record_del, a.record_del:visited, a.record_del:link, a.record_del:visited, a.record_del:active {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Sans-Serif; color: #333333;
	FONT-FAMILY: Verdana, Sans-Serif; text-decoration: none; color: #333333;
	cursor: pointer;
}
a.record_del:hover {
	text-decoration: none; color: #FF6600;
}
#manage_serivce {
	margin-bottom: 20px;
}
#manage_serivce .adiinviter_on *, #manage_serivce .adiinviter_off *, #manage_serivce .adiinviter_selected *{
	cursor: pointer;
}
#manage_serivce .adiinviter_on, #manage_serivce .adiinviter_off, #manage_serivce .adiinviter_selected {
	display: block;
	float: left;
	font-style:none;
	padding: 2px; margin: 3px;
	width: 101px;
	cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#manage_serivce .adiinviter_on {
	background: #AFA;
	border: 1px solid #AAC667;
}
#manage_serivce .adiinviter_off {
	background: #FFBBBB;
	border: 1px solid #B26464;
}
#manage_serivce .adiinviter_selected {
	background: #FEFFBF;
	border: 1px solid #FFE500;
}
.off_serviceBox {
	background-color: #FEE3E3;
	border: 1px solid #FFCCCC;
	padding: 0px 15px 15px 15px;
	float:left;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.on_serviceBox {
	background-color: #DBFFDB;
	border: 1px solid #9AB29A;
	padding: 0px 15px 15px 15px;
	float:left;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#templatePreviewCode
{
	background-color: white; padding: 5px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#loading_mask, #adi_overlay {

	background: #000;
	background: rgba(0, 0, 0, 0.6);
	background: radial-gradient(50% 50%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) 66%, rgba(0, 0, 0, 0.8));
	background: -moz-radial-gradient(50% 50%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) 66%, rgba(0, 0, 0, 0.8));
	background: -o-linear-gradient(50% 50%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) 66%, rgba(0, 0, 0, 0.8));
	background: -webkit-radial-gradient(50% 50%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) 66%, rgba(0, 0, 0, 0.8));
}
#adi_overlay {
	position: fixed;
	width:100%;
	height:100%;
	display:none;
	z-index:10;

}
#loading_mask {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0px;
	position: fixed;
	z-index: 100;
	display: none;
}

.updateHeader {
	display:inline;
}
.updateSubHeader {

}
.updateDetails {
	padding-top: 10px;
	padding-left: 10px;
}

.perm_table {
	border-style: solid none solid solid;
	border-color: #ccc;
	border-width: 1px;
}
.perm_table_th {
	border-width: 1px;
	border-color: #ccc;
	border-style: none solid solid none;
	padding-bottom: 15px;
	font-weight: bold;
	vertical-align: middle !important;
	text-align: center;
	padding: 5px 7px;
}
.perm_table_td, .synt_table_td {
	border-width: 1px;
	border-color: #ccc;
	border-style: none solid none none;
	vertical-align:middle;
	padding: 5px;
	text-align: center;
}
.synt_table_td {
	text-align: left;
}
.perm_table_td input[type=button] {
	margin: 0px;
}


.phrases_table { border-collapse: collapse;}
.phrases_table td { color: #282828; border-collapse: collapse; border: 1px solid #DDD; padding: 6px 10px; vertical-align: top; }
.phrases_table tr.odd td { background: #F4F4F4; }
.phrases_table a {text-decoration: none; color:#417394; cursor: pointer;}
.phrases_table tr:hover td { font-weight: bold; }

.phrases_table textarea { padding: 5px; }

.edit_phrase_tb td {padding:0px; border:none;}


.phrase_paginage {}
.phrase_paginage li { list-style: none none; float:right; width:20px; margin-right:8px; border: 1px solid #DDD;}
.phrase_paginage a {text-decoration: none; color:#417394; padding: 4px 2px;}
.phrase_paginage a {text-decoration: none; color:#114364;}
.phrase_paginage .current { color:#787878; background-color: #e0e0e0; }



.embed_code_out
{
	background: #000;
	color: #FFF;
	font-family: Courier New, Verdana;
	padding: 10px;
	font-size: 15px;
}
