@font-face {
  font-family: mygoticbold;
  src: url(GOTHICB.TTF);
}
@font-face {
  font-family: mygoticReg;
  src: url(GOTHIC.TTF);
}
@font-face {
  font-family: lobesstar;
  src: url(Lobster.ttf);
}
@font-face {
  font-family: latoLight;
  src: url(Lato-Light.ttf);
}
@font-face {
  font-family: 'accidental-presidency';
  src: url('/static/accidental-presidency.eot?1445444856');
  src: url('/static/accidental-presidency.eot?&1445444856#iefix') format("embedded-opentype"), url('/static/accidental-presidency.otf?1445444994') format("opentype"), url('/static/accidental-presidency.woff?1445444854') format("woff"), url('/static/accidental-presidency.svg?1445444856') format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'calibri';
  src: url('/static/calibri.eot?1445444968');
  src: url('/static/calibri.eot?&1445444968#iefix') format("embedded-opentype"), url('/static/calibri.otf?1445445000') format("opentype"), url('/static/calibri.woff?1445444932') format("woff"), url('/static/calibri.svg?1445444968') format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'calibrib';
  src: url('/static/calibrib.eot?1445445370');
  src: url('/static/calibrib.eot?&1445445370#iefix') format("embedded-opentype"), url('/static/calibrib.otf?1445445340') format("opentype"), url('/static/calibrib.woff?1445445348') format("woff"), url('/static/calibrib.svg?1445445370') format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'impact';
  src: url('/static/impact.eot?1445444854');
  src: url('/static/impact.eot?&1445444854#iefix') format("embedded-opentype"), url('/static/impact.otf?1445445014') format("opentype"), url('/static/impact.woff?1445444850') format("woff"), url('/static/impact.svg?1445444854') format("svg");
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  /*background-image: url(../Desktop/Photo0105.jpg);*/
}

* {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

.custom-responsive {
  width: 100%;
  height: auto;
}

#header .container {
  position: relative;
}
@media screen and (min-width: 1200px) {
  #header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 991px) {
  #header .container {
    width: 100%;
  }
}

header {
  position: relative;
  float: left;
  background-color: #262626;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu.left {
  float: left;
  width: 900px;
}

.menu.right {
  float: left;
  width: 900px;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu.menu-separator{
  float: left;
  width: 300px;
}

.menu.right ul{
  float: left;
}

.menu.left ul{
  float: right;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  /*margin-right: -2px;*/
  list-style: none;
  /*padding: 0 20px;*/
}

@media screen and (min-width: 861px) {
  .menu ul li.mobile-item {
    display: none;
  }
}

.menu ul li:last-child {
  border-right: none;
}

.menu ul li a {
  padding: 0 8px;
  color: #fff;
  font-family: mygoticReg;
  font-size: 16px;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #999999;
  font-family: mygoticReg;
  font-size: 16px;
  text-decoration: none;
}

.menu-btn.index-menu-btn {
  display: none;
}

@media screen and (max-width: 981px) {
  .menu.right ul{
    float: none;
  }

  .menu.right {
    float: left;
    width: auto;
  }


  .menu.left {
    display: none;
  }

  .menu.index-menu {
    position: absolute;
    display: none;
    padding: 5px 10px;
    bottom: -170px !important;
    right: 0;
    background-color: #262626;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 100;
    height: 280px;
    top: 40px;
  }

  .menu.index-menu ul li {
    display: block;
    border-right: none;
    border-bottom: 1px solid #FFF;
  }

  .menu.index-menu ul li:last-child {
    border-bottom: none;
  }

  .menu.index-menu ul li a {
    display: inline-block;
    padding: 5px 10px;
  }

  .menu-btn.index-menu-btn {
    display: block;
    float: right;
    margin-right: 15px;
    padding: 4px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    line-height: 1;
  }

  .menu-btn.index-menu-btn span {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    display: none;
    padding: 5px 10px;
    bottom: -145px;
    right: 0;
    background-color: #262626;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .menu ul li {
    display: block;
    border-right: none;
    border-bottom: 1px solid #FFF;
  }

  .menu ul li:last-child {
    border-bottom: none;
  }

  .menu ul li a {
    display: inline-block;
    padding: 5px 10px;
  }

  .menu-btn {
    float: right;
    margin-right: 15px;
    padding: 4px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    line-height: 1;
  }

  .menu-btn span {
    font-size: 24px;
  }
}
.wel_title {
  font-family: mygoticbold;
  font-size: 42px;
  color: #1d1d1d;
  text-align: center;
  background-image: url(/static/frontend/bg_img.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .wel_title {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .wel_title {
    font-size: 22px;
  }
}
.logo {
  position: absolute;
  left: 50%;
  margin-top: -15px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  top: 0;
}


/*/!*para poner ben el logo de chrome*!/*/
/*@media screen and (-webkit-min-device-pixel-ratio:0)*/
/*{*/
    /*.logo*/
    /*{*/
        /*margin-top: 50px;*/
    /*}*/
/*}*/


.logo.landing-logo {
  left: 15px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.logo.landing-logo2 {
  left: -45px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (max-width: 390px) {
  .logo.landing-logo {
    max-width: 80px;
  }
  .logo.landing-logo > a {
    display: block;
  }
  .logo.landing-logo > a img {
    width: 100%;
  }
}

/*@media screen and (max-width: 800px) {*/
  /*.logo {*/
    /*display: none;*/
  /*}*/
/*}*/

@media screen and (max-width: 460px) {
  .logo {
    left: 15px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
.arrow {
  margin: 0 auto;
  width: 108px;
  margin-top: -10px;
  z-index: 1000;
  text-align: center;
  position: absolute;
  margin-left: 47%;
  margin-top: 414px;
}

.green-arrow {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  bottom: 10px;
  cursor: pointer;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.banner {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .banner {
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .green-arrow {
    display: block !important;
  }
}
.f_title {
  height: 56px;
  background-color: #236cb2;
  font-family: mygoticbold;
  font-size: 28px;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .f_title {
    font-size: 20px;
  }
}
.f_img {
  text-align: center;
}

.f_img > img {
  display: inline-block;
}

.f_title3rd {
  height: 86px;
  background-color: #236cb2;
  font-family: mygoticbold;
  font-size: 28px;
  color: #fff;
  padding-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
}

.box {
  margin-top: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  text-align: center;
  min-height: 350px;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .box.box-equalized {
    height: auto !important;
  }
}
.f_content {
  padding: 15px 30px;
  color: #4f4f4f;
  font-family: mygoticReg;
  font-size: 16px;
}

.f_lcontent {
  width: 100%;
  padding: 10px;
}

.f_lcontent ul {
  display: inline-block;
  max-width: 100%;
  padding-left: 20px;
}

.f_lcontent ul li {
  color: #4f4f4f;
  font-family: mygoticReg;
  font-size: 18px;
  list-style: none;
  list-style-image: url(/static/frontend/tick.jpg);
  text-align: left;
}

.f_content2 {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #4f4f4f;
  font-family: mygoticReg;
  font-size: 18px;
  margin-top: 10px;
}

.f_lcontent2 ul {
  display: inline-block;
  padding-left: 10px;
}

.f_lcontent2 ul li.bads {
  color: #4f4f4f;
  font-family: mygoticReg, sans-serif;
  font-size: 18px;
  list-style: none url(/static/frontend/tick2.jpg);
  text-align: left;
}

.f_lcontent2 ul li.goods {
  color: #4f4f4f;
  font-family: mygoticReg, sans-serif;
  font-size: 18px;
  list-style: none url(/static/frontend/tick.jpg);
  text-align: left;
}

.color_section {
  height: 470px;
  color: #666666;
  width: 100%;
  background-image: url(/static/frontend/col_sec.jpg);
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .color_section {
    height: auto;
    padding-bottom: 30px;
  }
}
.welc_title {
  font-family: mygoticbold;
  font-size: 42px;
  color: #1d1d1d;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box1 {
  background-image: url(/static/frontend/box1.jpg);
  height: 312px;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.box2 {
  background-image: url(/static/frontend/box2.jpg);
  height: 312px;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.box3 {
  background-image: url(/static/frontend/box3.jpg);
  height: 312px;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.blue-stick {
  margin: 10px 0;
  background-color: #236CB1;
  border-radius: 8px;
}

.blue-stick > div:first-child {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fl_content {
  color: #fff;
  font-family: mygoticbold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
}

.fl_content p {
  color: #fff;
  font-family: mygoticReg;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding-top: 3px;
  margin: 0px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fl_content {
    font-size: 22px;
  }

  .fl_content p {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  .big-balls {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 460px) {
  .big-balls {
    padding: 0 10px;
  }
}
.r_box1 {
  height: 312px;
  background: url(/static/frontend/step1.jpg) no-repeat center center;
  margin-bottom: 80px;
}

.r_box2 {
  height: 312px;
  background: url(/static/frontend/step2.jpg) no-repeat center center;
  margin-bottom: 80px;
}

.r_box3 {
  height: 312px;
  background: url(/static/frontend/step3.jpg) no-repeat center center;
  margin-bottom: 80px;
}

.r_box1_content {
  font-family: "mygoticbold", sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 84%;
  padding-top: 110px;
  line-height: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .r_box1_content {
    padding-left: 23%;
    padding-right: 23%;
  }
}
@media screen and (max-width: 680px) {
  .r_box1_content {
    padding-top: 95px;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (max-width: 540px) {
  .r_box1_content {
    padding-left: 16%;
    padding-right: 16%;
  }
}
@media screen and (max-width: 390px) {
  .r_box1_content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.r_box1r_content {
  font-family: mygoticbold;
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 80%;
  padding-top: 90px;
  line-height: 20px;
  margin: 0px auto;
}

.wel_top_title {
  color: #1d1d1d;
  text-align: center;
  width: 100%;
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px #CCCCCC solid;
  padding: 25px 0px 25px 0px;
}

.wel_top_title span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 39px;
  text-transform: capitalize;
}

.wel_top_title span.red-word {
  color: #b30000;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .wel_top_title span {
    font-size: 24px;
  }
}
.gapwel {
  height: 20px;
}

.section_box2_rghtb {
  width: 100%;
  float: left;
  padding: 10px;
}

.section_box2b {
  float: left;
  background-color: #FFFFFF;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  padding: 6px 5px 6px 6px;
}

.section_box2b .embed-responsive {
  min-height: 165px;
}

@media screen and (max-width: 991px) {
  .section_box2b {
    margin-bottom: 20px;
  }
}
.color_section2 {
  /*height: 760px;*/
  color: #236cb2;
  width: 100%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section_box2 {
  float: left;
  background-color: #FFFFFF;
  width: 100%;
  /*height: 120px;*/
  border-radius: 5px;
  margin-top: 15px;
}

.section_box2_img {
  width: 25%;
  float: left;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .section_box2_img {
    padding: 10px 0 0 5px;
  }
}
.section_box2_rght {
  width: 70%;
  float: left;
  padding-left: 10px;
  padding-top: 9px;
}

.section_box2_desc {
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.section_box2_title {
  font-family: lobesstar;
  font-size: 22px;
  color: #000000;
}

.section_box2_title p {
  color: #4e4e4e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 8px;
  margin: 0px;
}

.section_box2_star {
  padding-top: 5px;
}

.wel_title123 {
  font-family: mygoticbold, sans-serif;
  font-size: 42px;
  color: #1d1d1d;
  text-align: center;
  background-image: url(/static/frontend/bg_img.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .wel_title123 {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .wel_title123 {
    font-size: 22px;
  }
}
.color_section3 {
  /*height: 650px;*/
  padding-bottom: 30px;
  color: #666666;
  width: 100%;
  background-image: url(/static/frontend/col_sec.jpg);
}

.color_section3 .container {
  max-width: 100%;
  width: 900px;
}

.color_section3 .container [class^="col-"] {
  margin-bottom: 30px;
}

.banner_img {
  width: 100%;
  float: none;
}

.gurrantee_box {
  /*width: 205px;*/
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  min-height: 218px;
  text-align: left !important;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .gurrantee_box {
    display: inline-block;
    float: none;
  }
}
.gurrantee_img img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gurrantee_title {
  position: relative;
  max-width: 70%;
  margin-top: -30px;
  padding-left: 10px;
  color: #7ba720;
  font-family: mygoticReg, sans-serif;
  font-size: 24px;
  background-color: #FFFFFF;
  z-index: 5;
}

.gurrantee_title a {
  color: #7ba720;
  font-family: mygoticReg, sans-serif;
  font-size: 24px;
}

@media screen and (max-width: 991px) {
  .gurrantee_title a {
    font-size: 20px;
  }
}
.gurrantee_title a:hover {
  color: #000;
  text-decoration: none;
}

.gurrantee_title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 16px;
  padding-left: 2px;
}

.grnt_img {
  padding-top: 5px;
}

.grnt_img img {
  width: 100%;
}

.made_in_uk {
  color: #000000;
  font-family: mygoticReg, sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
}

.made_in_ukimg img {
  display: inline-block;
}

.color_section4 {
  color: #666666;
  width: 100%;
  background-image: url(/static/frontend/col_sec.jpg);
}

.saving_today_box {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  /*margin:8px;*/
  min-height: 218px;
  /* margin-left:15px;*/
  margin-top: 20px;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.saving_today_box1 {
  width: 48.5%;
  float: left;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  min-height: 218px;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.saving_today_box1_1 {
  width: 48.5%;
  float: left;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  min-height: 218px;
  margin-left: 25px;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 991px) {
  .saving_today_box1_1 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .saving_today_box1, .saving_today_box1_1 {
    width: 100%;
  }

  .saving_today_box1_1 {
    margin-left: 0;
  }
}
.saving_box_left {
  width: 60%;
  float: left;
}

.saving_box_content {
  font-family: mygoticbold, sans-serif;
  font-size: 41px;
  color: #b30000;
}

.saving_box_content p {
  color: #000000;
  font-family: mygoticReg, sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding-right: 30px;
}

.saving_box_rimg {
  width: 40%;
  float: left;
}

@media screen and (max-width: 767px) {
  .saving_box_left, .saving_box_rimg {
    width: 100%;
  }

  .saving_box_rimg img {
    display: inline-block;
  }

  .saving_box_content {
    font-size: 26px;
  }

  .saving_box_content p {
    padding: 0;
  }
}
.saving_box_rimg p {
  text-align: center;
  color: #000000;
  font-family: mygoticReg;
  font-size: 18px;
  line-height: 27px;
}

.bonus_left {
  width: 30%;
  float: left;
}

.bonus_right {
  width: 70%;
  float: left;
}

.bonus_desc {
  color: #424242;
  font-family: mygoticReg;
  font-size: 18px;
  line-height: 20px;
  padding-right: 20px;
}

.bonus_desc p {
  color: #0f3d86;
  font-family: mygoticbold;
  font-size: 18px;
  line-height: 18px;
  padding-top: 30px;
}

.con_button {
  width: 435px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .con_button {
    width: 100%;
  }

  .con_button a {
    display: inline-block;
    max-width: 100%;
    padding: 0 15px;
  }
}
.color_section_colour {
  /*height: 375px;*/
  padding-bottom: 20px;
  color: #666666;
  width: 100%;
  background-color: #236cb2;
}

.social_box {
  width: 100%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  margin: 8px;
  padding: 10px;
}

.footer_b {
  height: 224px;
  background-color: #262626;
}

.ftr_copyrght {
  font-family: mygoticReg;
  font-size: 12px;
  color: #e3e3e3;
  margin: 0 auto;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .ftr_copyrght {
    text-align: center;
  }
}
.box_shadow {
  width: 100%;
  margin-top: -2px;
  text-align: center;
}

#footer {
  width: 100%;
  padding: 10px;
  background-color: #262626;
}

@media screen and (max-width: 767px) {
  .logo-wrapper img {
    display: inline-block;
  }

  .logo-wrapper {
    text-align: right;
  }
}
#footer .footer_addr {
  color: #FFFFFF;
  font-family: mygoticReg;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #footer .footer_addr {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  #footer .footer_addr {
    font-size: 12px;
  }
}
#footer .ftr_menu {
  float: right;
  padding-top: 10px;
}

#footer .ftr_menu ul li {
  list-style: none;
  display: inline;
  font-family: mygoticReg;
  font-size: 14px;
  color: #c0c0c0;
  padding-left: 5px;
  padding-right: 5px;
}

#footer .ftr_menu ul li a {
  font-family: mygoticReg;
  font-size: 14px;
  color: #c0c0c0;
  text-decoration: none;
}

#footer .ftr_menu ul li a:hover {
  font-family: mygoticReg;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #footer .ftr_menu ul li {
    padding-left: 2px;
    padding-right: 2px;
  }

  #footer .ftr_menu ul li a {
    font-size: 11px;
  }

  #footer .ftr_menu ul li a:hover {
    font-size: 11px;
  }
}
.ftr_socialbox {
  float: right;
  margin: 0 auto;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  #footer .ftr_menu {
    float: none;
    display: inline-block;
  }

  .ftr_socialbox {
    float: none;
    display: inline-block;
  }
}
.ftr_twitter {
  width: 54px;
  float: left;
}

.ftr_facebook {
  width: 54px;
  float: left;
}

.ftr_mail {
  width: 54px;
  float: left;
}

.extra_rcontent {
  font-family: mygoticbold;
  font-size: 24px;
  color: #A39E9E;
  text-align: center;
  padding-top: 170px;
  font-style: italic;
}

.thumbs-icon > img {
  max-width: 20%;
}

.box-bottom-text {
  margin-left: 10px;
  font-family: mygoticbold;
  font-size: 18px;
  color: #236cb1;
}

.extra_text {
  font-family: mygoticbold;
  font-size: 18px;
  color: #236cb1;
  text-align: left;
  margin-left: -15px;
}

.extra_text span {
  font-family: Arial;
  font-size: 18px;
  color: #236cb1;
  text-align: left;
}

.logo_area {
  background-color: #eeeeee;
  text-align: center;
  height: 110px;
  margin-top: 20px;
}

/* Green BTN & Fixed top bar */
.banner-btn {
  position: absolute;
  bottom: 20px;
  right: 15.5%;
  left: 56.5%;
  opacity: 0.9;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}

.banner-btn:hover {
  opacity: 1;
}

.banner-btn img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .banner-btn {
    right: 10%;
    left: 10%;
  }
}
@media screen and (max-width: 490px) {
  .banner-btn {
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
  }
}
.fixed-bar {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 1100;
}

.fixed-bar h4 {
  font-family: mygoticbold, sans-serif;
  font-size: 36px;
  color: #000;
}

.fixed-bar strong {
  color: #f00;
}

.fixed-btn {
  display: inline-block;
  max-width: 300px;
  opacity: 0.9;
}

.fixed-btn:hover {
  opacity: 1;
}

.fixed-btn img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .fixed-bar h4 {
    font-size: 28px;
  }
  .fixed-btn {
    max-width: 200px;
  }
}



@media screen and (max-width: 767px) {
  .fixed-bar h4 {
    font-size: 18px;
  }
}
/* /Green BTN & Fixed top bar */
.content-wrapper {
  margin-top: 130px;
}
@media screen and (max-width: 767px) {
  .content-wrapper {
    margin-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .content-wrapper.well-lg {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.content-wrapper .well {
  float: left;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .content-wrapper .well {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.needed-margin {
  margin-bottom: 40px;
}

.jumbo-text {
  margin-bottom: 40px;
  color: #1d1d1d;
  font-family: mygoticbold, sans-serif;
  font-size: 42px;
}
@media screen and (max-width: 991px) {
  .jumbo-text {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  .jumbo-text {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.jumbo-small {
  color: #1d1d1d;
  font-family: mygoticbold, sans-serif;
}

.content-text {
  font-family: mygoticReg, sans-serif;
  font-size: 22px;
}
@media screen and (max-width: 991px) {
  .content-text {
    font-size: 18px;
  }
}
.content-text .red {
  color: #ff0000;
}
.content-text h3 {
  margin: 10px 0;
}
.content-text .normal-text {
  font-size: 18px;
}
.content-text.well {
  margin-bottom: 40px;
}

.fancy-links {
  position: relative;
  float: left;
  width: 100%;
  margin: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .fancy-links {
    margin: 20px 0;
  }
}
.fancy-links a {
  margin: 10px;
  max-width: 100%;
  border-radius: 5px;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.fancy-links a:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.fancy-links a img {
  max-width: 100%;
  border-radius: 5px;
}

.page-text {
  margin-bottom: 20px;
  font-family: mygoticReg, sans-serif;
  font-size: 18px;
}
.page-text.big {
  font-size: 22px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .page-text.big {
    font-size: 18px;
  }
}
.page-text.bolder {
  font-family: mygoticbold, sans-serif;
  font-weight: bold;
  color: #000;
}

.btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .btn-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.btn-wrapper.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.btn-wrapper.vertical span {
  margin-bottom: 10px;
}
.btn-wrapper.floated {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.btn-wrapper span {
  font-family: mygoticReg, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 991px) {
  .btn-wrapper span {
    margin-bottom: 10px;
  }
}

.big-btn {
  display: block;
  padding: 8px 16px;
  color: #ffffff;
  font-family: calibrib, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  /*text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);*/
  /*box-shadow: 2px 2px rgba(0, 0, 0, 0.6);*/
  border-radius: 4px;
  padding-top: 12px;
  -webkit-transition: all linear 0.1s;
          transition: all linear 0.1s;
}
.big-btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.big-btn.blue-btn {
  background: #002060;
}
.big-btn.blue-btn2 {
  background: #1738a3;
}
.big-btn.blue-btn:hover {
  background: #00297a;
}
.big-btn.blue-btn2:hover {
  background: #1738a3;
}
.big-btn.red-btn {
  background: #ff0000;
}
.big-btn.red-btn:hover {
  background: #e60000;
}

.big-btn.red-btn2 {
  /*background: #c82dc8;*/
  background: #c82d28;
}
.big-btn.red-btn2:hover {
  /*background: #c82dc8;*/
  background: #c82d28;
}




.big-btn2 {
  display: inline-block;
  padding: 8px 16px;
  max-width: 200px;
  color: #ffffff;
  font-family: calibrib, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  /*text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);*/
  /*box-shadow: 2px 2px rgba(0, 0, 0, 0.6);*/
  border-radius: 4px;
  -webkit-transition: all linear 0.1s;
          transition: all linear 0.1s;
}
.big-btn2:hover {
  color: #ffffff;
  text-decoration: none;
}
.big-btn2.blue-btn {
  background: #002060;
}
.big-btn2.blue-btn:hover {
  background: #00297a;
}
.big-btn2.red-btn {
  background: #ff0000;
}
.big-btn2.red-btn:hover {
  background: #e60000;
}

.flavour-item {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .flavour-item {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .flavour-item {
    height: auto;
  }
}
.flavour-item > div {
  float: left;
}
@media screen and (max-width: 991px) {
  .flavour-item > div {
    width: 100%;
  }
}

.flavour-image {
  width: 40%;
  padding: 5px;
  text-align: center;
}
.flavour-image img {
  display: inline-block;
}

.flavour-description {
  width: 60%;
  padding: 0 10px;
  text-align: center;
}
.flavour-description .name {
  float: left;
  width: 100%;
  margin-bottom: 0;
  font-family: mygoticbold, sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #1d1d1d;
  min-height: 40px;
}
.flavour-description .small {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: mygoticReg, sans-serif;
  font-size: 13px;
  height: 80px;
}
.flavour-description [role="button"] {
  float: left;
  width: 100%;
  font-family: calibri, sans-serif;
  font-size: 16px;
  background: #00b050;
}
.flavour-description [role="button"]:hover, .flavour-description [role="button"]:focus {
  background: #009744;
}

.strength-level {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  font-family: mygoticReg, sans-serif;
}
.strength-level label {
  font-size: 16px;
  font-weight: normal;
}

.cart-list {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.cart-list > ol {
  padding-left: 30px;
}
.cart-list li {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  font-family: mygoticReg, sans-serif;
  font-size: 16px;
  color: #333;
}

.cart-list h2 {
  padding: 5px 0px 10px;
  border-bottom: 1px solid lightgray;
  color: #333;
}

.cart-list li:last-child {
  border-bottom: 0;
}
.cart-list li:hover {
  background: #f2f2f2;
}
.cart-list .badge {
  float: right;
  background: transparent;
}
.cart-list .badge:hover {
  background: #e60000;
}
.cart-list .badge:hover > a {
  color: #ffffff;
}
.cart-list .badge > a {
  color: #e60000;
}
.cart-list .badge > a:hover {
  text-decoration: none;
  color: white;
}
.cart-list [role="button"] {
  margin-top: 20px;
  font-family: calibri, sans-serif;
  font-size: 22px;
  background: #00b050;
}
.cart-list [role="button"]:hover, .cart-list [role="button"]:focus {
  background: #009744;
}


.free_bottle [role="button"] {
  margin-top: 20px;
  font-family: calibri, sans-serif;
  font-size: 22px;
  background: #00b050;
  width: 300px;
}
.free_bottle [role="button"]:hover, .cart-list [role="button"]:focus {
  background: #009744;
}

.page-banner {
  float: left;
  width: 100%;
}
.page-banner img {
  width: 100%;
}

.section-title {
  float: left;
  width: 100%;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .section-title {
    margin-top: 20px;
  }
}

.items-wrapper {
  margin-bottom: 40px;
}

.product-item {
  position: relative;
  float: left;
  width: 100%;
  padding: 15px;
}

.product-item > div {
  width: 100%;
}

.product-image {
  padding: 10px;
  position: inherit;
  /*margin: 15px;*/
  margin-bottom: 5px;
  margin-top: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  display: block;
}
@media screen and (max-width: 767px) {
  .product-image {
    max-width: 100%;
    width: 280px;
  }
}

.product-description {
  display: block;
  position: inherit;
  padding: 15px;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.product-description .name {
  margin-bottom: 20px;
  font-family: mygoticbold, sans-serif;
  font-size: 18px;
  color: #1d1d1d;
  width: auto;
}

.product-description .red {
  color: #ff0000;
}
.product-description .page-text {
  font-size: 14px;
}
.product-description [role="button"] {
  font-family: calibri, sans-serif;
  font-size: 16px;
  background: #00b050;
}
.product-description [role="button"]:hover, .product-description [role="button"]:focus {
  background: #009744;
}

.price-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.conditions-needed {
  margin: 60px 0;
  padding: 0 60px;
}
@media screen and (max-width: 767px) {
  .conditions-needed {
    margin: 30px 0;
    padding: 0 15px;
  }
}
.conditions-needed li {
  margin: 10px 0;
}
.conditions-needed .red {
  font-weight: bold;
  color: #ff0000;
}

.blue-strip {
  margin-bottom: 40px;
  padding: 10px 20px;
  font-family: calibri, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  background: #0070c0;
  color: #fff;
}
.blue-strip select {
  padding: 2px 5px;
  color: #1d1d1d;
}

.fancy-list {
  margin-top: 60px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .fancy-list {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
.fancy-list li {
  margin: 0 30px;
}
@media screen and (max-width: 991px) {
  .fancy-list li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .fancy-list li {
    display: block;
  }
}
.fancy-list .fancy-link {
  display: inline-block;
  padding-left: 35px;
  font-family: impact;
  font-size: 32px;
  color: #15359D;
  background: url('/static/frontend/fancy-icon.png?1445517694') no-repeat 0 center;
}
@media screen and (max-width: 991px) {
  .fancy-list .fancy-link {
    font-size: 26px;
  }
}
@media screen and (max-width: 390px) {
  .fancy-list .fancy-link {
    font-size: 22px;
  }
}

.gray-background {
  padding-bottom: 30px;
  background-image: -webkit-linear-gradient(top, #b8b8b8, #ffffff);
  background-image: linear-gradient(to bottom, #b8b8b8, #ffffff);
}

.gray-background2 {
  /*padding-bottom: 30px;*/
  background-image: -webkit-linear-gradient(left, #b8b8b8, #ffffff);
  background-image: linear-gradient(to right, #b8b8b8, #ffffff);
}

.bold-text {
  margin-bottom: 30px;
  font-family: accidental-presidency, sans-serif;
  font-size: 42px;
  border-top: 4px solid #15359D;
  border-bottom: 4px solid #15359D;
  color: #15359D;
}
.bold-text .red {
  color: #ff0000;
}

.fancy-images {
  padding: 10px 15px;
  text-align: center;
}
.fancy-images img {
  display: inline-block;
}

.delivery-sticker img {
  display: inline-block;
}

.fancy-form {
  margin-top: -15px;
  background-color: #0983f5;
  border-radius: 10px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .fancy-form {
    margin-top: 10px;
  }
}
.fancy-form > .form-group:last-child {
  padding: 5px 10px 10px;
}
.fancy-form > .form-group.black {
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
}
.fancy-form > .form-group.black .small {
  font-family: calibri, sans-serif;
  font-size: 18px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .fancy-form > .form-group.black .small {
    text-align: center;
  }
}
.fancy-form .red {
  color: #ff0000;
}
.fancy-form .big-label {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: calibri, sans-serif;
  font-size: 46px;
  text-align: center;
}
.fancy-form .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.fancy-form .form-horizontal .form-group [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.fancy-form .control-label {
  color: #fff;
  font-family: calibri, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}
.fancy-form .btn-danger {
  color: #fff;
  text-shadow: 1px 1px #000;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(bottom, #ff0000, #ff6666);
  background-image: linear-gradient(to top, #ff0000, #ff6666);
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.fancy-form .btn-danger:hover, .fancy-form .btn-danger:focus, .fancy-form .btn-danger:active {
  background-image: -webkit-linear-gradient(top, #ff0000, #ff6666);
  background-image: linear-gradient(to bottom, #ff0000, #ff6666);
}

.banner-section {
  float: left;
  position: relative;
  width: 100%;
  background-image: -webkit-linear-gradient(top, #b8b8b8, #ffffff);
  background-image: linear-gradient(to bottom, #b8b8b8, #ffffff);
}
.banner-section > .container {
  margin-top: 140px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner-section .big-btn {
    font-size: 24px;
  }
}

.banner-links {
  background: #1738a3;
  text-align: center;
}
.banner-links ul {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .banner-links ul {
    width: auto;
    text-align: left;
  }
}
.banner-links li {
  margin: 0;
  padding: 0 20px;
}
.banner-links li:first-child {
  padding-left: 0;
}
.banner-links li:last-child {
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .banner-links li {
    display: block;
    margin: 4px 0;
    padding: 0;
  }
}
.banner-links .white-bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}
.banner-links a {
  font: 28px/20px calibri, sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
}

.banner-links p {
  font: 28px/20px calibri, sans-serif;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: top;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .banner-links a {
    font-size: 20px;
  }

  .banner-links p {
    font-size: 20px;
  }
}


.big-btn.green-btn {
  background: #00af50;
  text-align: center;
}

.big-btn.green-btn:hover {
  background: #00af50;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */


.container-popup {
    max-width: 350px;
    color: #0f288c;
}
.container-popup h1 {
    font-weight: 900;
}

.modal-dialog-popup { max-width: 390px; }

h4 { line-height: 1.4 }

.container-buttons {
    max-width: 360px;
    padding: 20px;
    height: 220px;
    margin-top: 10px;
}

.button-popup {
    width: 100%;
    height: 50px;
    font-weight: 800;
    font-size: 26px;
}


@media screen and (max-width: 320px) {
  .modal-body {
     height: 550px;
  }
}