@font-face {
    font-family: myfont1;
    src: url(OpenSans-Light.ttf);
}

@font-face {
    font-family: mygoticbold;
    src: url(GOTHICB.TTF);
}

@font-face {
    font-family: mygoticReg;
    src: url(GOTHIC.TTF);
}

@font-face {
    font-family: lobesstar;
    src: url(Lobster.ttf);
}

@font-face {
    font-family: latoLight;
    src: url(Lato-Light.ttf);
}

body {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

#header .container {
  position: relative;
}
@media screen and (min-width: 1200px) {
  #header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 991px) {
  #header .container {
    width: 100%;
  }
}

header {
    position: relative;
    float: left;
    background-color:#262626;
    width:100%;
    min-height: 50px;
    padding-top:10px;
    padding-bottom:10px;
    z-index: 1000;
}

.menu.left {
  float: left;
  width: 550px;
}

.menu.right {
  float: left;
  width: 550px;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu.menu-separator{
  float: left;
  width: 160px;
}

.menu.right ul{
  float: left;
}

.menu.left ul{
  float: right;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  /*margin-right: -2px;*/
  list-style: none;
  /*padding: 0 20px;*/
}
@media screen and (min-width: 861px) {
  .menu ul li.mobile-item {
    display: none;
  }
}
.menu ul li:last-child {
    border-right: none;
}

.menu ul li a {
  padding: 0 8px;
  color: #fff;
  font-family: mygoticReg;
  font-size: 16px;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #999999;
  font-family: mygoticReg;
  font-size: 16px;
  text-decoration: none;
}

.menu-btn.index-menu-btn {
  display: none;
}

.contact_margin{
    margin-top: 20px;
}

@media screen and (max-width: 360px) {
    .contact_margin{
        margin-top: 100px;
    }
}

@media screen and (max-width: 860px) {
  .menu.right ul{
    float: none;
  }

  .menu.right {
    float: left;
    width: auto;
  }

  .menu.left {
    display: none;
  }

  .menu.index-menu {
    position: absolute;
    display: none;
    padding: 5px 10px;
    bottom: -170px !important;
    right: 0;
    background-color: #262626;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 100;
    height: 280px;
    top: 40px;
  }

  .menu.index-menu ul li {
    display: block;
    border-right: none;
    border-bottom: 1px solid #FFF;
  }

  .menu.index-menu ul li:last-child {
    border-bottom: none;
  }

  .menu.index-menu ul li a {
    display: inline-block;
    padding: 5px 10px;
  }

  .menu-btn.index-menu-btn {
    display: block;
    float: right;
    margin-right: 15px;
    padding: 4px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    line-height: 1;
  }

  .menu-btn.index-menu-btn span {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    display: none;
    padding: 5px 10px;
    bottom: -145px;
    right: 0;
    background-color: #262626;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .menu ul li {
    display: block;
    border-right: none;
    border-bottom: 1px solid #FFF;
  }

  .menu ul li:last-child {
    border-bottom: none;
  }

  .menu ul li a {
    display: inline-block;
    padding: 5px 10px;
  }

  .menu-btn {
    float: right;
    margin-right: 15px;
    padding: 4px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    line-height: 1;
  }

  .menu-btn span {
    font-size: 24px;
  }
}

.wel_title {
    font-family: Century Gothic;
    font-size: 42px;
    color: #1d1d1d;
    text-align: center;
    background: url('/static/useradmins/bg_img.png') no-repeat bottom;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.logo {
  position: absolute;
  left: 50%;
  margin-top: -10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
    top: 0;
}

/*para poner ben el logo de chrome*/
/*@media screen and (-webkit-min-device-pixel-ratio:0)*/
/*{*/
    /*.logo*/
    /*{*/
        /*margin-top: 50px;*/
    /*}*/
/*}*/


@media screen and (max-width: 460px) {
  .logo {
    left: 15px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.arrow {
    margin: 0 auto;
    width: 108px;
    margin-top: -10px;
    z-index: 1000;
    text-align: center;
    position: absolute;
    margin-left: 47%;
    margin-top: 414px;
}

#footer {
    width: 100%;
    padding: 10px;
    background-color: #262626;
}
@media screen and (max-width: 767px) {
    .logo-wrapper img {
        display: inline-block;
    }
    .logo-wrapper {
        text-align: right;
    }
}


#footer .footer_addr {
    color: #FFFFFF;
    font-family: Century Gothic;
    font-size: 14px;
    line-height: 18px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    #footer .footer_addr {
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    #footer .footer_addr {
        font-size: 12px;
    }
}

#footer .ftr_menu {
    float: right;
    padding-top: 10px;
}

#footer .ftr_menu ul {
}

#footer .ftr_menu ul li {
    list-style: none;
    display: inline;
    font-family: Century Gothic;
    font-size: 14px;
    color: #c0c0c0;
    padding-left: 5px;
    padding-right: 5px;
}

#footer .ftr_menu ul li a {
    font-family: Century Gothic;
    font-size: 14px;
    color: #c0c0c0;
    text-decoration: none;
}

#footer .ftr_menu ul li a:hover {
    font-family: Century Gothic;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #footer .ftr_menu ul li {
        padding-left: 2px;
        padding-right: 2px;
    }
    #footer .ftr_menu ul li a {
        font-size: 11px;
    }
    #footer .ftr_menu ul li a:hover {
        font-size: 11px;
    }
}

.ftr_socialbox {
    float: right;
    margin: 0 auto;
    padding-top: 20px;
}

@media screen and (max-width: 767px) {
    #footer .ftr_menu {
        float: none;
        display: inline-block;
    }
    .ftr_socialbox {
        float: none;
        display: inline-block;
    }
}

.ftr_twitter {
    width: 54px;
    float: left;
}

.ftr_facebook {
    width: 54px;
    float: left;
}

.ftr_mail {
    width: 54px;
    float: left;
}

.extra_rcontent {
    font-family: Century Gothic;
    font-size: 24px;
    color: #A39E9E;
    text-align: center;
    padding-top: 170px;
    font-style: italic;
}

.extra_text {
    font-family: Century Gothic;
    font-size: 18px;
    color: #236cb1;
    text-align: center;
}

.extra_text span {
    font-family: Arial;
    font-size: 18px;
    color: #236cb1;
    text-align: center;
}

.logo_area {
    background-color: #eeeeee;
    text-align: center;
    height: 110px;
    margin-top: 20px;
}

.ftr_copyrght {
    font-family: Century Gothic;
    font-size: 12px;
    color: #e3e3e3;
    margin: 0 auto;
    text-align: right;
}
@media screen and (max-width: 767px) {
    .ftr_copyrght {
        text-align: center;
    }
}

/*
......................................................................blog page........................................................

*/
.ppp {
}

.keeping {
    font-family: Century Gothic;
    font-size: 42px;
    color: #707070;
    padding-top: 120px;
    text-align: center;
    font-weight: bold;
}

.blog_box {
    box-shadow: 0px 3px 14px #000000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.blog_text {
    font-family: Century Gothic;
    font-size: 20px;
    color: #243d98;
    padding-top: 12px;
    text-align: left;
    font-weight: normal;
}

.blog_text a {
    font-family: Century Gothic;
    font-size: 20px;
    color: #243d98;
    padding-top: 12px;
    text-align: left;
    font-weight: normal;
}

.blog_text a:hover {
    font-family: Century Gothic;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.blog_date {
    background-image: url(/static/useradmins/calender.jpg);
    background-repeat: no-repeat;
    background-position: left;
    color: #808080;
    font-size: 11px;
    font-family: Century Gothic;
    padding-left: 20px;
}

.align_mid {
    text-align: center;
    margin-left: 67px;
    margin-right: 67px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.pagination {
    padding-top: 40px;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.small_button {
    background-color: #d3d3d3;
    float: left;
    width: 27px;
    height: 27px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    font-family: myfont1;
    font-size: 16px;
}

.small_button1 {
    background-color: #fff;
    float: left;
    width: 27px;
    height: 27px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    font-family: myfont1;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
}

.small_button a {
    background-color: #d3d3d3;
    text-align: center;
    color: #000;
    font-family: myfont1;
    font-size: 16px;
}

.small_button1 a {
    background-color: #fff;
    text-align: center;
    color: #000;
    font-family: myfont1;
    font-size: 16px;
}

/*
......................................................................blog details page........................................................

*/

.ppppp {
}

.black_bg {
    width: 1350px;
    background-color: #000000;
    margin: 0px auto;
    overflow: hidden;
}

.left_banner {
    width: 294px;
    margin: 0px auto;
    float: left;
}

.right_banner {
    width: 294px;
    margin: 0px auto;
    float: left;
}

.middle_area {
    width: 754px;
    float: left;
}

.bd_top {
    background-image: url(/static/useradmins/top_bdbg.jpg);
    background-repeat: no-repeat;
    height: 144px;
}

.after_top {
    background-color: #262626;
    border-radius: 7px;
    overflow: hidden;
    height: 200px;
    height: 843px;
}

.bd_ttop {
    font-family: Century Gothic;
    font-size: 47px;
    color: #d3d3d3;
    padding-top: 15px;
    text-align: center;
}

.bd_ttop1 {
    font-family: Century Gothic;
    font-size: 47px;
    color: #2e7dcc;
    text-align: center;
    margin-top: -15px;
}

.bd_ttop1 span {
    font-family: Century Gothic;
    font-size: 47px;
    color: #db0000;
    text-align: center;
    font-weight: bold;
    padding-left: 2px;
    text-transform: uppercase;
}

.white_portion {
    background-color: #fff;
    width: 752px;
    margin: 0px auto;
    margin-top: 30px;
    height: 811px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bd_logo {
    text-align: center;
    margin-top: 15px;
}

.fb_share {
    padding-left: 17px;
    padding-right: 20px;
    float: left;
    padding-top: 700px;
    overflow: hidden;
}

.twitter_share {
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 700px;
    overflow: hidden;
}

/*
...............................................................contact us.....................................................................

*/

.mm {
}

.logo1 {
    text-align: left;
    position: absolute;
    padding-left: 15px;
}
@media screen and (max-width: 767px) {
    .logo1 {
        padding-left: 0;
    }
}
.contact_topbox {
    position: absolute;
    right: 0;
    padding-right: 35px;
    overflow: hidden;
    margin-top: 30px;
}
@media screen and (max-width: 767px) {
    .contact_topbox {
        padding-right: 15px;
    }
}

.contact_welcome {
    font-family: Century Gothic;
    font-size: 16px;
    color: #262626;
    text-align: right;
}
@media screen and (max-width: 767px) {
    .contact_welcome {
        font-size: 14px;
    }
}

.contact_log {
    font-family: Century Gothic;
    font-size: 16px;
    color: #0064a7;
    text-align: right;
    font-weight: bold;
}

.contact_heading {
    font-family: Century Gothic;
    font-size: 42px;
    color: #262626;
    text-align: left;
    font-weight: bold;
    margin-top: 120px;
}

@media screen and (max-width: 767px) {
    .contact_heading {
        font-family: Century Gothic;
        font-size: 42px;
        color: #262626;
        text-align: left;
        font-weight: bold;
        margin-top: 30px;
    }
}

.contact_right {
    float: right;
    width: 100%;
    text-align: center;
}
.contact_right img {
    display: inline-block;
}

.contact_left {
    float: left;
}

.contact_label {
    font-family: Century Gothic;
    font-size: 16px;
    color: #484848;
    text-align: left;
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 10px;
}

.contact_inbox1 {
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
    height: 46px;
}

.contact_inbox2 {
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
}

.contact_send {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
}

/*
..............................................................user.........................................................................................

*/
.lll {
}

.userad_heading {
    font-family: Century Gothic;
    font-size: 42px;
    color: #262626;
    text-align: left;
    font-weight: bold;
    margin-top: 110px;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
    .userad_heading {
        margin-top: 20px;
        font-size: 26px;
    }
    .userad_wrapper {
        margin-bottom: 30px;
    }
}
.userad_gen {
    font-family: Century Gothic;
    font-size: 21px;
    color: #262626;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 2px;
}

.userad_gen span {
    font-family: Century Gothic;
    font-size: 21px;
    color: #df0000;
    font-weight: bold;
}

.user_img {
    right: 0;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: right;
}
.user_img img {
    display: inline-block;
}
@media screen and (max-width: 767px) {
    .user_img {
        text-align: center;
    }
}

.usead_bottombox {
    background: url(/static/useradmins/userad_box.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 0 15px 15px;
    /*height: 205px;*/
}

.userad_bbfirst {
    font-family: Century Gothic;
    font-size: 38px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.userad_bbsecond {
    font-family: Century Gothic;
    font-size: 68px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
}

.userad_bbthird {
    font-family: Century Gothic;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    margin-top: -15px;
}
@media screen and (max-width: 991px) {
    .userad_bbfirst {
        font-size: 24px;
    }
    .userad_bbsecond {
        font-size: 48px;
    }
    .userad_bbthird {
        font-size: 18px;
        margin-top: 0;
    }
}

/*
..............................................................pop-up.........................................................................................
*/

.sss {
}
/*
.popup {
    width: 100%;
    margin: 0 auto;
}
.popup_cont {
    width: 90%;
}
*/
.modal-body {
    padding: 15px 30px;
    font-family: mygoticReg,sans-serif;
    font-size: 14px;
    color: #484848;
}
#fb-content li {
    margin: 10px 0;
}
#fb-content p, #fb-content a {
    font-family: mygoticReg,sans-serif;
    font-size: 14px;
    color: #484848;
}
#fb-content a {
    color: #234583;
}
#fb-content .modal-footer button {
    background-color: #234583;
}

#mail-form .modal-title {
    color: #FC8150;
    font-size: 22px;
}
#mail-form button[type="submit"] {
    background-color: #FC8150;
    font-weight: bold;
    font-size: 26px;
}

.pop_facebookbox {
    /*height: 385px;*/
    /*width: 594px;*/
    border-radius: 8px;
    box-shadow: 0px 1px 42px -1px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    padding: 10px 20px 20px 20px;
}

.facebook_text {
    font-family: Century Gothic;
    font-size: 26px;
    color: #004acb;
    padding-top: 1px;
    padding-bottom: 25px;
    background-image: url(/static/useradmins/pop_facebook.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    padding-top: 30px;
}

.facebook_gentext {
    font-family: Century Gothic;
    font-size: 14px;
    color: #484848;
    padding-left: 5px;
}

.inner_box {
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    border: 1px solid #C0C0C0;
}

.innerbox_text {
    font-family: Arial;
    font-size: 12px;
    color: #2a2a2a;
    padding-bottom: 10px;
}

.innerbox_text a {
    font-family: Arial;
    font-size: 12px;
    color: #2a2a2a;
}

.pop_mail {
    height: 470px;
    width: 594px;
    border-radius: 8px;
    box-shadow: 0px 1px 42px -1px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    padding: 10px 20px 20px 20px;
}

.popmail_text {
    font-family: Century Gothic;
    font-size: 26px;
    color: #ff8048;
    padding-top: 1px;
    padding-bottom: 25px;
    background-image: url(/static/useradmins/pop_mail.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    padding-top: 30px;
}

.pmail_left {
    width: 80px;
    float: left;
}

.pmail_right {
    float: left;
}

.pmail_text {
    font-family: Century Gothic;
    font-size: 16px;
    color: #484848;
    padding-top: 1px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.pmail_inbox {
    width: 440px;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
    height: 50px;
    border: 1px solid #C0C0C0;
    padding-left: 20px;
    margin-bottom: 20px;
}

.pmail_inbox1 {
    width: 500px;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
    height: 95px;
    margin-top: 10px;
    margin-left: 20px;
}

.pop_button {
    text-align: center;
    margin-top: 20px;
}

/*
..............................................................your details.........................................................................................
*/

.nnn {
}

.yourdet_heading {
    font-family: Century Gothic;
    font-size: 42px;
    color: #262626;
    text-align: left;
    font-weight: bold;
    margin-top: 96px;
    padding-left: 10px;
}

.yourdet_gen {
    font-family: Century Gothic;
    font-size: 16px;
    color: #484848;
    text-align: left;
    padding-top: 20px;
}

.yourdet_inbox1 {
    width: 450px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
    border: 1px solid #C0C0C0;
    padding-left: 20px;
}

.yourdet_box1 {
    background-color: #f2f2f2;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.yourdet_box1_topcol {
    background: linear-gradient(#507CE1, #015aab);
    height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.yourdet_box1_header {
    font-family: Century Gothic;
    font-size: 23px;
    color: #f2f2f2;
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.yourdet_box1_innertext {
    font-family: Century Gothic;
    font-size: 12px;
    color: #262626;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 4px;
}

.yourdet_inbox2 {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
    border: 1px solid #C0C0C0;
}

.yourdet_inbox3 {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 1px #dfdfdf;
    border: 1px solid #C0C0C0;
    padding-left: 20px;
}

.button1 {
    background-color: #015aab;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    text-align: center;
    font-family: Century Gothic;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #015aab;
    font-weight: normal;
}

.yourdet_box2_topcol {
    background: linear-gradient(#ED4343, #9e0202);
    height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button2 {
    background-color: #9e0202;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    text-align: center;
    font-family: Century Gothic;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #9e0202;
    font-weight: normal;
}

.yourdet_box3_topcol {
    background: linear-gradient(#868686, #090909);
    height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button3 {
    background-color: #090909;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    text-align: center;
    font-family: Century Gothic;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #090909;
    font-weight: normal;
}

/*
..............................................................subscribe.........................................................................................
*/

.sss {
}

.subp_heading {
    font-family: Century Gothic;
    font-size: 42px;
    color: #262626;
    text-align: left;
    font-weight: bold;
    margin-top: 120px;
    padding-left: 10px;
    padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
    .unequalize {
        height: auto !important;
    }

    .subp_heading {
    font-family: Century Gothic;
    font-size: 42px;
    color: #262626;
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    }
}
.sub_box {
    border-radius: 5px;
    box-shadow: 0px 1px 22px -1px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    position: relative;
    min-height: 533px;
}

.sub1_topcol {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub1_topheading {
    font-family: Century Gothic;
    font-size: 25px;
    color: #2470ef;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    background: linear-gradient(#fff, #CDCDCD);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@media screen and (max-width: 767px) {
    .sub1_topheading {
        font-size: 18px;
    }
}

.sub_gen {
    color: #545454;
    font-size: 17px;
    font-family: Century Gothic;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

.sub_gen span {
    color: #e22323;
    font-size: 17px;
    font-family: Century Gothic;
    font-weight: bold;
}

.subbox1_half {
    width: 49%;
    float: left;
    padding-left: 2.5%;
    padding-right: 1%;
}

.sub_inbox {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    background: linear-gradient(#fff, #CDCDCD);
    padding-left: 5px;
    font-family: Century Gothic;
    font-size: 14px;
}

.sub1_bottomcol {
    background-color: #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*height: 80px;*/
}

.sub1_bottomheading {
    color: #fff;
    font-size: 19px;
    font-family: Century Gothic;
    text-align: center;
    padding: 20px 10px 10px;
}

.sub1_bottomheading span {
    color: #ea0000;
    font-size: 19px;
    font-family: Century Gothic;
    font-weight: bold;
}

.sub2_topcol {
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #003286;
}

.sub2_topheading {
    font-family: Century Gothic;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding-top: 12px;
    text-transform: uppercase;
    line-height: 29px;
}

.sub2_gen {
    color: #545454;
    font-size: 17px;
    font-family: Century Gothic;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.sub2_gen span {
    color: #d10000;
    font-size: 17px;
    font-family: Century Gothic;
    font-weight: bold;
}

.sub_inbox1 {
    width: 95%;
    padding-left: 3%;
    padding-right: 2%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    background: linear-gradient(#fff, #CDCDCD);
    padding-left: 5px;
    font-family: Century Gothic;
    font-size: 14px;
}

.sub_box2 {
    border-radius: 5px;
    box-shadow: 0px 1px 22px -1px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    display: block;
    position: relative;
    /*height: 233px;*/
}

.subbox2_topcol {
    padding-bottom: 10px;
    background: linear-gradient(#fff, #CDCDCD);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.subbox2_topheader {
    font-family: Century Gothic;
    font-size: 25px;
    color: #2470ef;
    text-align: center;
    padding-top: 12px;
}

.subbox2_inner {
    padding: 20px 20px 20px 20px;
}

.subbox2_general {
    font-family: Century Gothic;
    font-size: 16px;
    color: #545454;
    text-align: left;
    padding-bottom: 3px;
}

.subbox2_general span {
    font-family: Century Gothic;
    font-size: 16px;
    color: #545454;
    font-weight: bold;
    text-transform: uppercase;
}

.subbox2_generalred {
    font-family: Century Gothic;
    font-size: 16px;
    color: #e40000;
    font-weight: bold;
    text-align: right;
}

.subbox2_generalred a {
    font-family: Century Gothic;
    font-size: 16px;
    color: #e40000;
    font-weight: bold;
    text-align: right;
}

.subbox2_general2 {
    font-family: Century Gothic;
    font-size: 16px;
    color: #545454;
    text-align: left;
    padding-bottom: 15px;
}

.subbox2_general2 span {
    font-family: Century Gothic;
    font-size: 16px;
    color: #e40000;
    font-weight: bold;
}


/*===[ your-details-v1 styles ]===*/

.big-top-padding {
    padding-top: 150px;
    padding-bottom: 40px;
}
.main-title {
    margin-bottom: 30px;
    font-family: Century Gothic;
    font-size: 42px;
    margin-top: -15px;
    color: #262626;
}
@media screen and (max-width: 767px) {
   .main-title {
    margin-bottom: 30px;
    font-family: Century Gothic;
    font-size: 42px;
    margin-top: -120px;
    color: #262626;
    }
}

.top-label {
    font-family: Century Gothic;
    font-weight: normal;
    font-size: 16px;
    color: #484848;
}
.page-form {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0;
    background-color: #F2F2F2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.page-form .form-group {
    float: left;
    width: 100%;
}
.page-form label {
    font-family: Century Gothic;
    font-size: 12px;
    color: #262626;
    font-weight: normal;
}
.page-form .form-control {
    font-family: Century Gothic;
    font-weight: normal;
}
.page-form button {
    padding: 6px 30px;
    font-family: Century Gothic;
    font-size: 24px;
    color: #FFFFFF;
}
.your-details-form button {
    background-color: #015AAB;
    border-color: #015AAB;
}
.delivery-form button {
    background-color: #9E0202;
    border-color: #9E0202;
}
.billing-form button {
    background-color: #090909;
    border-color: #090909;
}
.delivery-form .form-control:focus {
    border-color: #ED4343;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(237, 67, 67, .6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(237, 67, 67, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(237, 67, 67, .6);
}
.billing-form .form-control:focus {
    border-color: #868686;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(134, 134, 134, .6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(134, 134, 134, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(134, 134, 134, .6);
}
.person-title {
    width: 100px;
    font-family: Century Gothic;
    font-weight: normal;
}
.form-title {
    float: left;
    width: 100%;
    padding: 0 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.form-title h3 {
    margin: 15px 0;
    font-family: Century Gothic;
    color: #FFF;
}
.your-details-form .form-title {
    background-image: linear-gradient(#507CE1, #015AAB);
}
.delivery-form .form-title {
    background-image: linear-gradient(#ED4343, #9E0202);
}
.billing-form .form-title {
    background-image: linear-gradient(#868686, #090909);
}

/*===[ /your-details-v1 styles ]===*/

@media screen and (max-width: 860px){
    .hide-logo {
        display: none;
    }
}