/*===[ FONTS ]===*/
@font-face {
    font-family: "Verdana-Regular";
    src: url('/static/verdana.eot?1429455238');
    src: url('/static/verdana.eot?&1429455238#iefix') format('embedded-opentype'),
         url('/static/verdana.woff?1429455238') format('woff'),
         url('/static/verdana.otf?1429455164') format('opentype'),
         url('/static/verdana.svg?1429455238') format('svg');
}
@font-face {
    font-family: "OpenSans-Light";
    src: url('/static/OpenSans-Light.eot?1432353222');
    src: url('/static/OpenSans-Light.eot?&1432353222#iefix') format('embedded-opentype'),
         url('/static/OpenSans-Light.woff?1432353222') format('woff'),
         url('/static/OpenSans-Light.otf?1432353216') format('opentype'),
         url('/static/OpenSans-Light.svg?1432353222') format('svg');
    font-weight: normal;
}
/*===[ /FONTS ]===*/

body {
    font-family: "Verdana-Regular", sans-serif;
    font-size: 12px;
}
.image-responsive {
    width: 100%;
    height: auto;
}
.brand-logo {
    position: relative;
    width: 100%;
}
.brand-logo a {
    display: inline-block;
    width: auto;
}
.brand-logo img {
    display: inline-block;
    margin-bottom: 30px;
}
.big-text {
    font-size: 45px;
    color: #262626;
}
.small-text {
    font-size: 16px;
    color: #262626;
}
@media screen and (max-width: 768px) {
    .brand-logo img {
        margin-bottom: 0;
    }
    .big-text {
        font-size: 32px;
    }
    .small-text {
        font-size: 14px;
        margin-bottom: 5px;
    }
}
.form-wrapper {
    position: relative;
    max-width: 70%;
    padding: 15px;
    margin: 0 auto;
    border: 3px solid #cccccc;
}
@media screen and (max-width: 768px) {
    .form-wrapper {
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 100%;
    }
}
#login-form {
    position: relative;
    max-width: 360px;
    margin: 40px auto 20px;
}
#login-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}
#login-form input[type="password"] {
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
}
#login-form .form-control{
    position: relative;
    font-size: 16px;
}
.form-control:focus {
    z-index: 2;
    border-color: #7BC423;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(123, 196, 35, .6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(123, 196, 35, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(123, 196, 35, .6);
}
.green-btn {
    font-size: 18px;
    background-color: #00b050;
    border-color: #00b050;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.green-btn:hover {
    background-color: #00b050;
    border-color: #00b050;
    outline: none;
}
#login-form .small {
    font-size: 12px;
}
#login-form label {
    font-size: 14px;
    font-weight: normal;
}
@media screen and (max-width: 560px) {
    #login-form {
        margin-top: 10px;
    }
}
.step-wrapper {
    max-width: 80%;
    border: none;
    padding: none;
}
@media screen and (max-width: 991px) {
    .step-wrapper {
        max-width: 100%;
    }
}
.step-page {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    border: 3px solid #cccccc;
}
.step-form2 {
    position: relative;
    float: left;
    /*width: 60%;*/
    width: 90%;
    padding-right: 30px;
}

.form-title {
    width: 100%;
}

.step-form {
    position: relative;
    float: left;
    width: 60%;
    padding-right: 30px;
}

.step-form .small {
    margin-bottom: 20px;
    font-size: 14px;
}
.step-form .control-label {
    padding-right: 5px;
}
.promo-wrapper {
    position: relative;
    float: left;
    width: 40%;
    padding-top: 30px;
}
@media screen and (max-width: 490px) {
    .step-form, .promo-wrapper {
        width: 100%;
    }
    .step-form2 {
        width: 100%;
    }

    .step-form {
        padding-right: 0;
    }

    .step-form2 {
        padding-right: 0;
    }
}
.paypal-wrapper {
    max-width: 100%;
    width: 900px;
    margin: 30px auto;
    padding: 60px 30px;
    border: 1px solid #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 15px #888888;
    -moz-box-shadow: 1px 1px 15px #888888;
    box-shadow: 1px 1px 15px #888888;
}
@media screen and (max-width: 767px) {
    .paypal-wrapper {
        padding: 30px 15px;
    }
}
.jumbo-text {
    font-family: "OpenSans-Light", "Verdana-Regular",sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #0085D1;
}
@media screen and (max-width: 490px) {
    .jumbo-text {
        font-size: 16vw;
    }
}
.medium-text {
    margin: 30px 0;
    font-family: "OpenSans-Light", "Verdana-Regular", sans-serif;
    font-size: 32px;
    color: #2c2c2c;
}
@media screen and (max-width: 767px) {
    .medium-text {
        font-size: 24px;
    }
}
.paypal-logo img {
    display: inline-block;
    margin: 20px 0;
}



/*footer*/

.footer_b {
    height: 224px;
    background-color: #262626;
}

.ftr_copyrght {
    font-family: mygoticReg;
    font-size: 12px;
    color: #e3e3e3;
    margin: 0 auto;
    text-align: right;
}
@media screen and (max-width: 767px) {
    .ftr_copyrght {
        text-align: center;
    }
}

.box_shadow {
    margin-top: -2px;
    text-align: center;
}

#footer {
    width: 100%;
    padding: 10px;
    background-color: #262626;
}
@media screen and (max-width: 767px) {
    .logo-wrapper img {
        display: inline-block;
    }
    .logo-wrapper {
        text-align: right;
    }
}

#footer .footer_addr {
    color: #FFFFFF;
    font-family: mygoticReg;
    font-size: 14px;
    line-height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #footer .footer_addr {
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    #footer .footer_addr {
        font-size: 12px;
    }
}

#footer .ftr_menu {
    float: right;
    padding-top: 10px;
}

#footer .ftr_menu ul {
}

#footer .ftr_menu ul li {
    list-style: none;
    display: inline;
    font-family: mygoticReg;
    font-size: 14px;
    color: #c0c0c0;
    padding-left: 5px;
    padding-right: 5px;
}

#footer .ftr_menu ul li a {
    font-family: mygoticReg;
    font-size: 14px;
    color: #c0c0c0;
    text-decoration: none;
}

#footer .ftr_menu ul li a:hover {
    font-family: mygoticReg;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #footer .ftr_menu ul li {
        padding-left: 2px;
        padding-right: 2px;
    }
    #footer .ftr_menu ul li a {
        font-size: 11px;
    }
    #footer .ftr_menu ul li a:hover {
        font-size: 11px;
    }
}

.ftr_socialbox {
    float: right;
    margin: 0 auto;
    padding-top: 20px;
}

@media screen and (max-width: 767px) {
    #footer .ftr_menu {
        float: none;
        display: inline-block;
    }
    .ftr_socialbox {
        float: none;
        display: inline-block;
    }
}


.ftr_twitter {
    width: 54px;
    float: left;
}

.ftr_facebook {
    width: 54px;
    float: left;
}

.ftr_mail {
    width: 54px;
    float: left;
}

.container-popup {
    max-width: 350px;
    color: #0f288c;
}
.container-popup h1 {
    font-weight: 900;
}

.modal-dialog-popup { max-width: 390px; }

h4 { line-height: 1.4 }

.container-buttons {
    max-width: 360px;
    padding: 50px;
    height: 220px;
    margin-top: 20px;
}

.button-popup {
    width: 100%;
    height: 50px;
    font-weight: 800;
    font-size: 26px;
}

@media screen and (max-width: 320px) {
  .modal-body {
     height: 550px;
  }
}